<div class="nouvelle-session__demonstration">
  <div class="nouvelle-session__demonstration-container">
    <div class="nouvelle-session__demonstration-body">
      <div class="nouvelle-session__demonstration-logo">
        <%= image_tag "eva-logo-bleu.svg", alt: "Eva", class: "nouvelle-session__logo" %>
      </div>
      <div class="nouvelle-session__demonstration-content">
        <div class="nouvelle-session__demonstration-image">
          <%= image_tag "demonstration-illustration.svg", alt: t("active_admin.devise.sessions.new.demonstration.titre") %>
        </div>
        <h4 class="nouvelle-session__demonstration-titre"><%= t("active_admin.devise.sessions.new.demonstration.titre") %></h4>
        <p class="nouvelle-session__connexion-description"><%= t("active_admin.devise.sessions.new.demonstration.description") %></p>
        <div class="nouvelle-session__demonstration-liste">
          <ul>
            <% t("active_admin.devise.sessions.new.demonstration.liste_items").each do |item_key| %>
              <li class="nouvelle-session__demonstration-liste-item">
                <span class="nouvelle-session__demonstration-liste-item-icone"></span>
                <span class="nouvelle-session__demonstration-liste-item-texte"><%= t("active_admin.devise.sessions.new.demonstration.#{item_key}") %></span>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="nouvelle-session__demonstration-bouton">
          <%= render BoutonDsfrComponent.new(
            demo_path,
            type: :secondary,
            class: "fr-icon-arrow-right-line fr-btn--icon-right"
          ) do %>
            <%= t("active_admin.devise.sessions.new.demonstration.bouton") %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="nouvelle-session__demonstration-vagues">
    </div>
  </div>
</div>
