<div class="nouvelle-session__demonstration">
  <div class="nouvelle-session__demonstration-container">
    <div class="nouvelle-session__demonstration-vagues"> </div>
    <div class="nouvelle-session__demonstration-body">
      <div class="nouvelle-session__demonstration-content">
        <h2 class="nouvelle-session__demonstration-titre"><%= t(".titre") %></h2>
        <p class="fr-m-0 fr-text--sm"><%= t(".description") %></p>
        <p class="fr-m-0 fr-text--sm"><%= t(".eva") %></p>
        <p class="fr-m-0 fr-text--sm"><%= t(".evapro") %></p>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-12v">
          <div class="fr-col-12 fr-col-sm-6 fr-col-lg-12">
            <%= render CardComponent.new(
              titre: t(".titre-carte-eva"),
              image_url: image_path("logo/eva-card.svg"),
              image_alt: t("header.eva.logo_alt"),
              size: :sm,
              classes: ["fr-card--horizontal card-avec-logo card-avec-logo--eva"],
              url: demo_path
            ) %>
          </div>
          <div class="fr-col-12 fr-col-sm-6 fr-col-lg-12">
            <%= render CardComponent.new(
              titre: t(".titre-carte-evapro"),
              image_url: image_path("logo/evapro-card.svg"),
              image_alt: t("header.evapro.logo_alt"),
              size: :sm,
              classes: ["fr-card--horizontal card-avec-logo card-avec-logo--evapro"],
              url: "https://www.anlci.gouv.fr/ressources/evapro/"
            ) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
