<div class="colonne-2">
  <div class="panel panel--evaluation">
    <h2 class="panel-header"><%= t("active_admin.devise.login.evaluations.header_title") -%></h2>
    <div class="panel-content">
      <div class="panel-description">
        <%= md t("active_admin.devise.login.evaluations.content") -%>
      </div>

      <%= form_with url: connexion_espace_jeu_path do |form| %>
        <fieldset class='inputs'>
          <ol>
            <li class='input <%= params[:code_erreur] ? "error" : ""%>'>
              <%= form.label :code, t("active_admin.devise.login.evaluations.campagne") %>
              <% code = params[:code] %>
              <%= form.text_field :code, placeholder: "DEMO", value: code %>
              <% if params[:code_erreur] %>
                <p class="inline-errors"><%= params[:code_erreur] %></p>
              <% end %>
            </li>
          </ol>
        </fieldset>
        <div class="bouton-action actions">
          <%= form.submit t("active_admin.devise.login.evaluations.bouton") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
