<% url = new_compte_registration_url(structure_id: resource.id) %>

<div id='bloc-membres'>
  <h3><%= t(".titre") %></h3>
  <% if current_compte.au_moins_admin? %>
    <div class="panel panel-invitation">
      <div class="container-instructions">
        <div class="panel-invitation-message">
          <%= md t(".invitation") %>
        </div>
        <div>
          <%= render BoutonCopierComponent.new(libelle: I18n.t("actions.copier_url"), texte: url, style: "white-space: nowrap") %>
        </div>
      </div>
      <a class="panel-invitation-lien" target="_blank" href="<%= url %>"><%= url %></a>
    </div>
  <% end %>
</div>
