<div id="bloc-membres" class="fr-mt-8v">
  <div class="titre-panel-avec-bouton">
    <h3><%= t(".titre") %></h3>
    <%= link_to t(".voir_membres"), admin_comptes_path("q[structure_id_eq]": resource.id) %>
  </div>
  <% if resource.is_a?(StructureLocale) %>
    <div class="panel panel-invitation">
      <div class="container-instructions">
        <div class="panel-invitation-message">
          <%= md t(".invitation") %>
        </div>
        <div>
          <%= render BoutonDsfrComponent.new(
            "#",
            type: :primary,
            "data-fr-opened": "false",
            "aria-controls": "fr-modal-invitation-#{resource.id}"
          ) do %>
            <%= t(".envoyer_invitation") %>
          <% end %>
        </div>
      </div>
    </div>
    <%= render "admin/structures/modal_invitation", structure: resource %>
  <% end %>
</div>
