<% url = new_compte_registration_url(structure_id: resource.id) %>

<div id='bloc-membres'>
  <h3><%= t(".titre") %></h3>
  <% if current_compte.au_moins_admin? %>
    <div class="panel panel-invitation">
      <div class="container-instructions">
        <div class="panel-invitation-message">
          <%= md t(".invitation") %>
        </div>
        <div>
          <%= render BoutonCopierComponent.new(libelle: I18n.t("actions.copier_url"), texte: url, style: "white-space: nowrap") %>
        </div>
      </div>
      <a class="panel-invitation-lien" target="_blank" href="<%= url %>"><%= url %></a>
    </div>
  <% end %>

  <div class='liste-membres'>
    <%= render "admin/structures/cards_validation", comptes: @comptes_en_attente, title: "En attente" do |compte| %>
      <% if can?(:verifier, compte) %>
        <%= link_to "Vérifier", "#", 
          class: "action", 
          "data-fr-opened": "false", 
          "aria-controls": "fr-modal-#{compte.id}" %>


        <%= render "admin/structures/modal_verification", compte: compte %>
      <% end %>
    <% end %>
  </div>

  <div class='liste-membres'>
    <%= render "admin/structures/cards_validation", comptes: @comptes_acceptes, title: "Autorisés" do |compte| %>
      <%= 
        if can?(:refuser, compte)
          link_to 'Refuser', refuser_admin_compte_path(compte),
                            method: :patch,
                            class: 'action'
        end
      %>
    <% end %>
  </div>

  <div class='liste-membres'>
    <%= render "admin/structures/cards_validation", comptes: @comptes_refuses, title: "Refusés" do |compte| %>
      <% if can?(:autoriser, compte) %>
        <%= link_to "Autoriser", autoriser_admin_compte_path(compte),
                                  method: :patch,
                                  class: "action" %>
      <% end %>
    <% end %>
  </div>
</div>
