<h3>Mes collègues</h3>

<%= render 'table_validation', comptes: @comptes_en_attente, title: 'En attente' do |compte| %>
  <div class='table_actions actions_visibles'>
    <%= link_to 'Autoriser', autoriser_admin_compte_path(compte),
                             method: :patch,
                             class: 'autoriser-link' %>
    <%= 
      unless compte.admin? || compte.superadmin?
        link_to 'Refuser', refuser_admin_compte_path(compte),
                          method: :patch,
                          class: 'refuser-link'
      end
    %>
  </div> 
<% end %>

<%= render 'table_validation', comptes: @comptes_acceptes, title: 'Autorisés' do |compte| %>
  <div class='table_actions actions_visibles'>
    <%= 
      unless compte.admin? || compte.superadmin?
        link_to 'Révoquer', refuser_admin_compte_path(compte),
                          method: :patch,
                          class: 'refuser-link'
      end
    %>
  </div> 
<% end %>

<%= render 'table_validation', comptes: @comptes_refuses, title: 'Refusés' do |compte| %>
  <div class='table_actions actions_visibles'>
    <%= link_to 'Autoriser', autoriser_admin_compte_path(compte),
                             method: :patch,
                             class: 'autoriser-link' %>
  </div> 
<% end %>


