<div id='bloc-mes-collegues'>
  <h3>Mes collègues</h3>

  <div class='liste-collegues'>
    <%= render 'cards_validation', comptes: @comptes_en_attente, title: 'En attente' do |compte| %>
      <% if can?(:autoriser, compte) %>
        <%= link_to 'Autoriser', autoriser_admin_compte_path(compte),
                                  method: :patch,
                                  class: 'action lien-autoriser' %>
      <% end %>
      <%= 
        if can?(:refuser, compte)
          link_to 'Refuser', refuser_admin_compte_path(compte),
                            method: :patch,
                            class: 'action lien-refuser'
        end
      %>
    <% end %>
  </div>

  <div class='liste-collegues'>
    <%= render 'cards_validation', comptes: @comptes_acceptes, title: 'Autorisés' do |compte| %>
      <%= 
        if can?(:refuser, compte)
          link_to 'Refuser', refuser_admin_compte_path(compte),
                            method: :patch,
                            class: 'action lien-refuser'
        end
      %>
    <% end %>
  </div>

  <div class='liste-collegues'>
    <%= render 'cards_validation', comptes: @comptes_refuses, title: 'Refusés' do |compte| %>
      <% if can?(:autoriser, compte) %>
        <%= link_to 'Autoriser', autoriser_admin_compte_path(compte),
                                  method: :patch,
                                  class: 'action lien-autoriser' %>
      <% end %>
    <% end %>
  </div>
</div>
