<div class='mes-collegues' id='mes-collegues'>
  <h3>Mes collègues</h3>

  <%= render 'cards_validation', comptes: @comptes_en_attente, title: 'En attente' do |compte| %>
    <%= link_to 'Autoriser', autoriser_admin_compte_path(compte),
                              method: :patch,
                              class: 'action lien-autoriser' %>
    <%= 
      unless compte.au_moins_admin?
        link_to 'Refuser', refuser_admin_compte_path(compte),
                          method: :patch,
                          class: 'action lien-refuser'
      end
    %>
  <% end %>

  <%= render 'cards_validation', comptes: @comptes_acceptes, title: 'Autorisés' do |compte| %>
    <%= 
      unless compte.au_moins_admin?
        link_to 'Refuser', refuser_admin_compte_path(compte),
                          method: :patch,
                          class: 'action lien-refuser'
      end
    %>
  <% end %>

  <%= render 'cards_validation', comptes: @comptes_refuses, title: 'Refusés' do |compte| %>
    <%= link_to 'Autoriser', autoriser_admin_compte_path(compte),
                              method: :patch,
                              class: 'action lien-autoriser' %>
  <% end %>
</div>
