<% statistique = StatistiquesStructure.new(resource) %>

<h3>Statistiques</h3>
<p class="statistiques__description"><%= t('.description.nombre_evaluations') %></p>
<div class="panel">
  <% evaluations = statistique.nombre_evaluations_des_3_derniers_mois %>
  <% if evaluations.present? %>
    <%= column_chart evaluations, legend: "bottom" %>
  <% else %>
    Pas d'évaluation à afficher pour le moment
  <% end %>
</div>

<% if current_compte.anlci? %>
  <p class="statistiques__description"><%= t('.description.repartition_evaluations') %></p>
  <div class="panel">
    <% evaluations = statistique.repartition_evaluations %>
    <% if evaluations.present? %>
      <%= pie_chart evaluations, legend: "top" %>
    <% else %>
      Pas de diagnostic à afficher pour le moment
    <% end %>
  </div>

  <p class="statistiques__description"><%= t('.description.correlation_donnees_illettrisme') %></p>
  <div class="panel">
    <% Evaluation::SYNTHESES.each do |synthese|
      donnees_par_synthese = statistique.correlation_entre_niveau_illettrisme_et_genre(synthese) %>
      <% if donnees_par_synthese.present? %>
        <div>
          <h3><%= synthese.to_s %> :</h3>
          <ul style="list-style-type: none">
            <% DonneeSociodemographique::GENRES.each do |genre| %>
              <li>
                <%= genre %> :
                <%= formate_efficience(donnees_par_synthese[genre]) %>
              </li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <div>
          <h3><%= synthese.to_s %> :</h3>
          <p>Pas de données sociodémographiques</p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
