<% content_for :title, t(".titre") %>
<% content_for :titre do %>
  <%= t(".titre") -%>
<% end %>
<% content_for :sous_titre do %>
  <%= t(".sous_titre") -%>
<% end %>
<% content_for :classes_conteneur do "conteneur-elargi conteneur-invisible" end %>

<div class="page-selection-usage">
  <h2 class="fr-h2 fr-mb-2v"><%= t(".titre_principal") %></h2>
  <p class="fr-text--lg fr-mb-6v"><%= t(".sous_titre_principal") %></p>

  <div class="page-selection-usage__cartes">
    <%= render CarteV2Component.new(image: "inscription/campagnes_jeu.png", classes: "page-selection-usage__carte") do %>
      <div class="page-selection-usage__carte__content campagnes_jeu">
        <div>
          <h3 class="fr-mb-0 page-selection-usage__carte__titre"><%= t(".campagnes_jeu.titre") %></h3>
          <p class="fr-mb-0"><%= t(".campagnes_jeu.description") %></p>
        </div>
        <%= semantic_form_for @compte, url: inscription_selection_usage_path, method: :patch do |f| %>
          <%= f.hidden_field :usage, value: AvecUsage::USAGE_BENEFICIAIRES %>
          <%= render BoutonComponent.new("#", tag: :submit, type: :primary, size: :sm) do %>
            <%= t(".bouton_continuer") %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= render CarteV2Component.new(image: "inscription/questionnaires.png", classes: "page-selection-usage__carte") do %>
      <div class="page-selection-usage__carte__content questionnaires">
        <div>
          <h3 class="fr-mb-0 page-selection-usage__carte__titre"><%= t(".questionnaires.titre") %></h3>
          <p class="fr-mb-0"><%= t(".questionnaires.description") %></p>
        </div>
        <%= semantic_form_for @compte, url: inscription_selection_usage_path, method: :patch do |f| %>
          <%= f.hidden_field :usage, value: AvecUsage::USAGE_ENTREPRISES %>
          <%= render BoutonComponent.new("#", tag: :submit, type: :primary, size: :sm) do %>
            <%= t(".bouton_continuer") %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <p class="fr-text--xs fr-mt-6v"><%= t(".description") %></p>

  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
    <div class="fr-col-12">
      <%= render BoutonComponent.new(
            inscription_informations_compte_path,
            type: :secondary,
            tag: :a
          ) do %>
        <%= t("inscription.recherche_structures.show.bouton_retour") %>
      <% end %>
    </div>
  </div>
</div>
