<% content_for :title, t(".titre") %>
<% content_for :titre do %>
  <%= t(".titre") -%>
<% end %>
<% content_for :sous_titre do %>
  <%= t(".sous_titre") -%>
<% end %>
<% content_for :classes_conteneur do "conteneur-elargi conteneur-invisible" end %>

<div class="page-selection-usage">
  <h2 class="fr-h2 fr-mb-2v"><%= t(".titre_principal") %></h2>
  <p class="fr-text--lg fr-mb-6v"><%= t(".sous_titre_principal") %></p>

  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-6">
      <%= render CarteV2Component.new(image: "inscription/campagnes_jeu.png") do %>
        <p class="fr-text--lg"><%= t(".campagnes_jeu.titre") %></p>
        <p class=""><%= t(".campagnes_jeu.description") %></p>
        <%= semantic_form_for @compte, url: inscription_selection_usage_path, method: :patch do |f| %>
          <%= f.hidden_field :usage, value: AvecUsage::USAGE_BENEFICIAIRES %>
          <%= f.action :submit, label: t(".bouton_continuer"), button_html: { class: "fr-btn fr-btn--primary" }, wrapper_html: { class: "fr-mt-4v" } %>
        <% end %>
      <% end %>
    </div>
    <div class="fr-col-12 fr-col-md-6">
      <%= render CarteV2Component.new(image: "inscription/questionnaires.png") do %>
        <p class="fr-text--lg"><%= t(".questionnaires.titre") %></p>
        <p class=""><%= t(".questionnaires.description") %></p>
        <%= semantic_form_for @compte, url: inscription_selection_usage_path, method: :patch do |f| %>
          <%= f.hidden_field :usage, value: AvecUsage::USAGE_ENTREPRISES %>
          <%= f.action :submit, label: t(".bouton_continuer"), button_html: { class: "fr-btn fr-btn--primary" }, wrapper_html: { class: "fr-mt-4v" } %>
        <% end %>
      <% end %>
    </div>
  </div>

  <p class="fr-text--xs fr-mt-6v"><%= t(".description") %></p>

  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
    <div class="fr-col-12">
      <%= render BoutonComponent.new(
            inscription_informations_compte_path,
            type: :secondary,
            tag: :a
          ) do %>
        <%= t("inscription.recherche_structures.show.bouton_retour") %>
      <% end %>
    </div>
  </div>
</div>
