<div class="contenu-avec-evaluations">
  <div class="bloc-apercu-header bg-orange p-4 mb-0">
    <h3><%= t('.titre') %></h3>
    <%= render(BoutonComponent.new(t('.action'), admin_evaluations_path(scope: :illettrisme_potentiel) )) %>
  </div>
  <div class='px-3'>
    <div class='d-flex align-items-center question'>
      <%= image_tag 'point_interrogation.svg', class: 'mr-3' %>
      <div><%= md(t('.question')) %></div>
    </div>
    <div class='liste'>
      <% evaluations.each_with_index do |evaluation, index| %>
        <%= render(CarteMiseEnAction.new(evaluation,
                                         carte_deroulee: mise_en_action_avec_qualification?(evaluation))) do %>
          <%= render(Qcm.new(evaluation,
                             MiseEnAction::Questionnaire.new(:remediation),
                             qcm_affiche: effectuee_sans_remediation?(evaluation),
                             priorite: evaluations.size - index.to_i)) %>
          <%= render(Qcm.new(evaluation,
                             MiseEnAction::Questionnaire.new(:difficulte),
                             qcm_affiche: non_effectuee_sans_difficulte?(evaluation),
                             priorite: evaluations.size - index.to_i)) %>
        <% end %>
      <% end %>
    </div>
    <%= render 'components/banniere_solutions_illettrisme', asterisque: false %>
  </div>
</div>
