<div class="contenu-avec-evaluations">
  <div class="bloc-apercu-header bg-orange p-4 mb-0">
    <h3><%= t('.titre') %></h3>
    <%= render(BoutonComponent.new(t('.action'), admin_evaluations_path(scope: :illettrisme_potentiel) )) %>
  </div>
  <div class='px-3'>
    <div class='d-flex align-items-center question'>
      <%= image_tag 'point_interrogation.svg', class: 'mr-3' %>
      <div class="fw-semi-bold"><%= md(t('.question')) %></div>
    </div>
    <div class='liste'>
      <% evaluations.limit(6).each do |evaluation| %>
      <div id='<%= evaluation.id %>' class="card carte-liste d-flex align-items-center">
        <div class="row w-100 no-gutters d-flex justify-content-between align-items-center">
          <div class='col d-flex'>
            <span class='carte__nom'><%= link_to evaluation.nom.truncate(30), admin_evaluation_path(evaluation) %></span>
          </div>
          <%= render partial: 'components/boutons_mise_en_action', locals: { evaluation: evaluation } %>
        </div>
      </div>
      <% end %>
    </div>
    <%= render 'components/banniere_solutions_illettrisme', asterisque: false %>
  </div>
</div>
