<!DOCTYPE html>
<html lang="<%=I18n.locale%>">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">

  <title><%= [@page_title, ActiveAdmin.application.site_title(self)].compact.join(" | ") %></title>

  <% ActiveAdmin.application.stylesheets.each do |style, options| %>
    <% if ActiveAdmin.application.use_webpacker %>
      <%= stylesheet_pack_tag style, **options %>
    <% else %>
      <%= stylesheet_link_tag style, **options %>
    <% end %>
  <% end %>

  <%= favicon_link_tag ActiveAdmin.application.favicon if ActiveAdmin.application.favicon %>

  <% ActiveAdmin.application.meta_tags_for_logged_out_pages.each do |name, content| %>
    <%= tag(:meta, name: name, content: content) %>
  <% end %>

  <%= csrf_meta_tag %>
</head>

<body style="position: absolute; left: 2rem;">
  <div class="evaluation">
    <div class="row" style="width: 958px;">
      <div class="col">
        <div class="evaluation__restitution-globale">
          <h2>Synthèses de diagnostic</h2>
          <% @syntheses_diagnostic.each do |synthese| -%>
            <div class="panel">
              <div class="marges-page">
                <div id="lettrisme" class="page">
                  <%= render 'admin/evaluations/litteratie_numeratie_synthese',
                    synthese: synthese,
                    scope: "admin.restitutions.cefr.#{synthese}",
                    icone: "punaise-#{synthese}.svg" %>
                </div>
              </div>
            </div>
          <% end -%>

          <h2>Synthèses de positionnement littératie</h2>
          <% @syntheses_positionnement_litteratie.each do |donnees| -%>
            <div id="lettrisme" class="page">
              <div class="panel">
                <%= render 'admin/evaluations/litteratie_numeratie_synthese',
                  synthese: donnees[1],
                  scope: "admin.evaluations.lettrisme.litteratie.#{donnees[0]}",
                  icone: "icone_profil/icone_#{donnees[0]}.svg"%>
                <div/> <!-- pour absorber le style specifique de la dernière div du panel -->
              </div>
            </div>
          <% end -%>

          <h2>Synthèses de positionnement numératie</h2>
          <% @syntheses_positionnement_numeratie.each do |donnees| -%>
            <div id="lettrisme" class="page">
              <div class="panel">
                <%= render 'admin/evaluations/litteratie_numeratie_synthese',
                  synthese: donnees[1],
                  scope: "admin.evaluations.numeratie.#{donnees[0]}",
                  icone: "icone_profil/icone_#{donnees[0]}.svg" %>
                <div/> <!-- pour absorber le style specifique de la dernière div du panel -->
              </div>
            </div>
          <% end -%>

          <h2>Sous compétences de diagnostic CEFR</h2>
          <div>
            <% @sous_competences_diagnostic.each do |donnees| -%>
              <%= render 'admin/evaluations/competence_niveau1',
                competence: donnees[0],
                niveau: donnees[1],
                referentiel: 'cefr'
              %>
            <% end -%>
          </div>

          <h2>Sous compétences de positionnement littératie ANLCI</h2>
          <div>
            <%= render 'admin/evaluations/positionnement/sous_competences',
              sous_competences: @sous_competences_positionnement_litteratie,
              competence: :litteratie %>
          </div>

          <h2>Sous compétences de positionnement numératie ANLCI</h2>
          <div>
            <%= render 'admin/evaluations/positionnement/sous_competences',
              sous_competences: @sous_competences_positionnement_numeratie,
              competence: :numeratie %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
