<!DOCTYPE html>
<html lang="<%=I18n.locale%>">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">

  <title><%= [@page_title, ActiveAdmin.application.site_title(self)].compact.join(" | ") %></title>

  <% ActiveAdmin.application.stylesheets.each do |style, options| %>
    <% if ActiveAdmin.application.use_webpacker %>
      <%= stylesheet_pack_tag style, **options %>
    <% else %>
      <%= stylesheet_link_tag style, **options %>
    <% end %>
  <% end %>

  <%= favicon_link_tag ActiveAdmin.application.favicon if ActiveAdmin.application.favicon %>

  <% ActiveAdmin.application.meta_tags_for_logged_out_pages.each do |name, content| %>
    <%= tag(:meta, name: name, content: content) %>
  <% end %>

  <%= csrf_meta_tag %>
</head>

<body style="position: absolute; left: 2rem;">
  <div class="evaluation">
    <div class="row" style="width: 958px;">
      <div class="col">
        <div class="evaluation__restitution-globale">
          <h2>Synthèses de pré-positionnement</h2>
          <% @syntheses_pre_positionnement.each do |synthese| -%>
            <div class="panel">
              <div class="marges-page">
                <div id="lettrisme" class="page">
                  <%= render 'admin/evaluations/litteratie_numeratie_synthese',
                    synthese: synthese,
                    scope: "admin.restitutions.cefr",
                    description: synthese,
                    icone: "punaise-#{synthese}.svg",
                    pdf: false %>
                </div>
              </div>
            </div>
          <% end -%>

          <h2>Synthèses de positionnement</h2>
          <% @syntheses_positionnement.each do |donnees| -%>
            <div id="lettrisme" class="page">
              <div class="panel">
              <%= render 'admin/evaluations/litteratie_numeratie_synthese',
                synthese: donnees[1],
                scope: "admin.evaluations.lettrisme.litteratie",
                description: "#{donnees[0]}.description",
                icone: "icone_profil/icone_#{donnees[0]}.svg",
                pdf: false %>
              </div>
            </div>
          <% end -%>

          <h2>Sous compétences de positionnement</h2>
          <div class="lettrisme-sous-competences">
            <% @sous_competences_positionnement.each do |donnees| -%>
              <%= render 'admin/evaluations/lettrisme_sous_competence', sous_competence: donnees[0], profil: donnees[1].to_s %>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
