<div id="active_admin_content">
  <% content_for :titre do %>
    <%= t('active_admin.devise.change_password.title') -%>
  <% end %>
  <%= link_to t('.bouton_retour'), new_compte_session_path, class: 'bouton bouton-retour' %>
  <div id="login">
    <div class='mot-de-passe-instruction'>
      <p class='mot-de-passe-instruction--consigne'><%= t('.consigne') %></p>
      <p><%= t('.caracteristique')%></p>
    </div>
    <%= active_admin_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      f.inputs do
        f.input :reset_password_token, as: :hidden, input_html: { value: resource.reset_password_token }
        f.input :password
        f.input :password_confirmation, required: true, wrapper_html: { class: 'libelle-long' }
      end
      f.actions do
        f.action :submit, label: t('active_admin.devise.change_password.submit'), button_html: { value: t('active_admin.devise.change_password.submit') }
      end
    end
    %>
  </div>
</div>
