<%# frozen_string_literal: true %>
<div id="active_admin_content">
  <% content_for :titre do %>
    <%= t("active_admin.devise.change_password.title") -%>
  <% end %>
  <div id="login" class="panel">
    <%= link_to t("active_admin.devise.login.lien_retour"),
                new_compte_session_path,
                class: "lien-retour",
                aria: { label: t("active_admin.devise.login.description_lien_retour") } %>
    <div class='mot-de-passe-instruction'>
      <p class='mot-de-passe-instruction--consigne'><%= t(".consigne") %></p>
      <p><%= t(@regles_mot_de_passe, scope: "creation_compte", longueur_mot_de_passe: Devise.password_length.first)%></p>
    </div>
    <%= render partial: "active_admin/devise/shared/messages_erreurs_generales", resource: resource, locals: { champs_affiches: [ :password, :password_confirmation ] } %>
    <%= active_admin_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      f.inputs do
        f.input :reset_password_token, as: :hidden, input_html: { value: resource.reset_password_token }
        f.input :password
        f.input :password_confirmation, required: true, wrapper_html: { class: "libelle-long" }
      end
      f.actions do
        f.action :submit, label: t("active_admin.devise.passwords.edit.submit")
      end
    end
    %>
  </div>
</div>
