<div class="tableau-bord-sidebar-container">
  <div class="bloc-opco-entreprise">
    <div class="bloc-opco-entreprise__details">
      <h3 class="bloc-opco-entreprise__titre"><%= t("admin.dashboard.sidebar.opco_entreprise.titre") %></h3>
      <p class="bloc-opco-entreprise__nom"><%= structure.nom %></p>
      <p class="bloc-opco-entreprise__nom"><%= opco.nombre_structures_locales %> entreprises rattachées</p>
    </div>
    <% if (structure.is_a?(StructureAdministrative) && structure.opco.present?) %>
      <%= render BoutonDsfrComponent.new(
        "#",
        type: :tertiary,
        size: :sm,
        "data-fr-opened": "false",
        "aria-controls": "fr-modal-invitation-#{structure.id}"
      ) do %>
        <%= t("admin.dashboard.sidebar.opco_entreprise.inviter") %>
      <% end %>
      <%= render "admin/structures/modal_invitation", structure: structure %>
    <% end %>
  </div>
</div>
