<% content_for :titre do %>
  <%= t('.titre') -%>
<% end %>

<div class="recherche-structure">

  <%= md t('.description')%>
  <div class='label-champ-recherche'><%= t('.label_champ_recherche')%></div>
  <%= form_with method: :get do |f| %>
    <%= f.text_field :code_postal, class: 'champ-recherche', value: params[:code_postal] %>
    <%= f.submit 'chercher' %>
  <% end %>

  <%= render @structures %>

  <% if params[:code_postal] %>
    <div class="actions">
    <%= link_to t('.structure_non_referencee'), nouvelle_structure_path, class: 'creer-structure' %>
    </div>
  <% end %>

</div>
