<div id="active_admin_content">
  <div class="panel">
    <% content_for :title, t('.title') %>
    <% content_for :titre do %>
      <%= t('.titre') -%>
    <% end %>
    <% content_for :sous_titre do %>
      <%= t('.title') -%>
    <% end %>

    <%= link_to t('active_admin.devise.login.lien_retour'),
                new_compte_session_path,
                class: 'lien-retour',
                aria: { label: t('active_admin.devise.login.description_lien_retour') } %>
    <%= md t('.description')%>
    <%= render(@recherche_structure_component) %>
  </div>
</div>
