<div id='<%= evaluation.id %>' class='mise-en-action__texte d-flex justify-content-center text-primary text-center' data-reponse="">
  <% class_cache = evaluation.mise_en_action_effectuee == true ? '' : 'hidden' %>
  <div data-reponse="true" class="mise-en-action <%= class_cache %>">
    <strong>Oui</strong>, vous avez trouvé une solution<br>
    (<a href="#" class="modifier-mise-en-action" data-evaluation-id="<%= evaluation.id %>">Modifier votre réponse</a>)
  </div>
  <% class_cache = evaluation.mise_en_action_effectuee == false ? '' : 'hidden' %>
  <div data-reponse="false" class="mise-en-action <%= class_cache %>">
    <strong>Non</strong>, vous n'avez pas trouvé de solution<br>
    (<a href="#" class="modifier-mise-en-action" data-evaluation-id="<%= evaluation.id %>">Modifier votre réponse</a>)
  </div>
  <% class_cache = evaluation.mise_en_action_effectuee.nil? ? 'd-flex' : 'hidden' %>
  <div data-reponse="vide" class="actions mise-en-action <%= class_cache %>">
    <%= render(BoutonComponent.new('Oui', '#', class: 'reponse-mise-en-action', 'data-evaluation-id': evaluation.id, 'data-reponse': true)) %>
    <%= render(BoutonComponent.new('Non', '#', class: 'reponse-mise-en-action', 'data-evaluation-id': evaluation.id, 'data-reponse': false)) %>
  </div>
</div>
