<div id='<%= evaluation.id %>' >
  <div class='d-flex justify-content-center text-primary' data-reponse="">
    <% class_cache = evaluation.mise_en_action_effectuee == true ? '' : 'hidden' %>
    <div data-reponse="true" class="text-center mise-en-action <%= class_cache %>">
      <strong>Oui</strong>, vous avez trouvé une solution<br>
      (<a href="#" class="modifier-mise-en-action" data-evaluation-id="<%= evaluation.id %>">Modifier votre réponse</a>)
    </div>
    <% class_cache = evaluation.mise_en_action_effectuee == false ? '' : 'hidden' %>
    <div data-reponse="false" class="text-center mise-en-action <%= class_cache %>">
      <strong>Non</strong>, vous n'avez pas trouvé de solution<br>
      (<a href="#" class="modifier-mise-en-action" data-evaluation-id="<%= evaluation.id %>">Modifier votre réponse</a>)
    </div>
    <% class_cache = evaluation.mise_en_action_effectuee.nil? ? 'd-flex' : 'hidden' %>
    <div data-reponse="vide" class="actions mise-en-action <%= class_cache %>">
      <a href="#"
          class="bouton bouton-principal reponse-mise-en-action mr-1"
          data-evaluation-id="<%= evaluation.id %>"
          data-reponse="true">Oui</a>
      <a href="#"
          class="bouton bouton-principal reponse-mise-en-action"
          data-evaluation-id="<%= evaluation.id %>"
          data-reponse="false">Non</a>
    </div>
  </div>
</div>
