<div class="choix-item" tabindex="0">
  <p class='choix-item__titre'>
    <span class="sr-only"><%= t("admin.campagnes.form.choix_parcours") %> : <%= parcours_type.libelle %></span>
    <span aria-hidden="true"><%= parcours_type.libelle %></span>
  </p>

  <div class="choix-item__description">
    <%= md(parcours_type.description) %>
  </div>

  <p class="choix-item__duree">
    Durée moyenne : <%= parcours_type.duree_moyenne %>
  </p>
</div>
