<div id="annexe_restitution" class="page adaptation-pdf annexe_restitution">
  <%= render Pdf::EntetePageComponent.new(**@entete_page_args) %>

  <div class="content">
    <h2 class="text-center my-4 evaluation__titre"><%= t(".titre") %></h2>
    <div class="annexe_restitution__introduction annexe_restitution__introduction--diagnostic">
      <%= md t(".introduction") %>
      <div class="row">
        <div class="col">
          <div class="annexe_restitution__encadre">
            <div class="annexe_restitution__encadre--body">
              <h3 class="annexe_restitution__encadre--body--titre"><%= t(".restitution_francais_titre") %></h3>
              <%= t(".restitution_francais") %>
            </div>
            <div class="annexe_restitution__badges">
              <% @badges_francais.each do |badge| %>
                <%= inline_svg_tag "badges/cefr/#{badge}-referentiel.svg",
                                  class: "badge-references",
                                  alt: t(badge, scope: @scope_badge) %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="annexe_restitution__encadre">
            <div class="annexe_restitution__encadre--body">
              <h3 class="annexe_restitution__encadre--body--titre"><%= t(".restitution_maths_titre") %></h3>
              <%= t(".restitution_maths") %>
            </div>
            <div class="annexe_restitution__badges">
              <% @badges_maths.each do |badge| %>
                <%= inline_svg_tag "badges/cefr/#{badge}-referentiel.svg",
                                  class: "badge-references",
                                  alt: t(badge, scope: @scope_badge) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="annexe_restitution__encadre">
            <div class="annexe_restitution__encadre--body">
              <h3 class="annexe_restitution__encadre--body--titre"><%= t(".restitution_francais_et_maths_titre") %></h3>
              <%= t(".restitution_francais_et_maths") %>
            </div>
            <div class="annexe_restitution__badges">
              <% @badges_francais_et_maths.each do |badge| %>
                <%= inline_svg_tag "badges/anlci/#{badge}-referentiel.svg",
                                  class: "badge-references",
                                  alt: t(badge, scope: @scope_badge) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="annexe_restitution__liste-interpretation annexe_restitution__liste-interpretation--diagnostic">
      <h3 class="annexe_restitution__titre"><%= t(".titre_interprétation") %></h3>   
      <ul>
        <li><%= t(".interprétation_1") %></li>
        <li><%= t(".interprétation_2") %></li>
        <li><%= t(".interprétation_3") %></li>
        <li><%= t(".interprétation_4") %></li>
      </ul>
    </div>

    <%= render Evaluation::AlertAnnexeComponent.new %>
  </div>

  <%= render "admin/evaluations/pied_page" %>
</div>
