<div id="profil" class="page profil">
  <%= render "entete_page", restitution_globale: @restitution_globale %>

  <h2><%= t("admin.evaluations.restitution_globale.autopositionnement.titre") %></h2>
  <div class="panel">
    <div class="marges-page">
      <%= render partial: "questions_reponses_autopositionnement", locals: { bienvenue: @bienvenue } %>
      <% if @bienvenue.inclus_autopositionnement? %>
        <%= render partial: "questionnaire_autopositionnement", locals: { auto_positionnement: @bienvenue } %>
      <% end %>
    </div>

    <%= render "pied_page" %>
  </div>
</div>
