<% @sous_competences = @sous_competences&.to_a %>

<div class="page page-numeratie">
  <%= render "admin/evaluations/entete_page", restitution_globale: @restitution_globale %>

  <div class="content">
    <h2 class="text-center evaluation__titre"><%= t("titre", scope: "admin.restitutions.numeratie") %></h2>
    <% if @place_du_marche && !@place_du_marche.evaluation_terminee? %>
      <%= render(Evaluation::AlertIncompleteComponent.new) %>
    <% end %>

    <%= render(
      "litteratie_numeratie_synthese",
      synthese: @synthese,
      scope: "admin.evaluations.numeratie.#{@profil}",
      icone: "icone_profil/icone_#{@profil}.svg"
    ) %>

    <% if @sous_competences %>
      <% @sous_competences[0..1].each do |sous_competence| %>
        <%= render(SousCompetenceComponent.new(:numeratie, sous_competence[0], sous_competence[1])) %>
      <% end %>
    <% end %>
  </div>

  <%= render "pied_page" %>
</div>

<% if @sous_competences %>
  <div class="page page-numeratie">
    <%= render "admin/evaluations/entete_page", restitution_globale: @restitution_globale %>

    <div class="content">
      <% @sous_competences[2..4].each do |sous_competence| %>
        <%= render(SousCompetenceComponent.new(:numeratie, sous_competence[0], sous_competence[1])) %>
      <% end %>
    </div>

    <%= render "pied_page" %>
  </div>

  <div class="page page-numeratie">
    <%= render "admin/evaluations/entete_page", restitution_globale: @restitution_globale %>

    <div class="content liste-criteres">
      <h2 class="evaluation__titre"><%= t("titre_details", scope: "admin.restitutions.numeratie") %></h2>
      <% @sous_competences[0..1].each do |sous_competence| %>
        <% criteres = sous_competence[1].criteres %>
        <% sous_competence_component = SousCompetenceComponent.new(:numeratie, sous_competence[0], sous_competence[1]) %>

        <div class="critere-container">
          <h3 class="fr-tile__title fr-tile__title-sans-bordure-noire">
            <%= I18n.t(sous_competence_component.titre_traduction) %>
          </h3>
          <%= render(Evaluation::TableCriteresComponent.new(criteres)) %>
        </div>
      <% end %>
    </div>

    <%= render "pied_page" %>
  </div>

  <div class="page page-numeratie">
    <%= render "admin/evaluations/entete_page", restitution_globale: @restitution_globale %>

    <div class="content liste-criteres">
      <% @sous_competences[2..3].each do |sous_competence| %>
        <% criteres = sous_competence[1].criteres %>
        <% sous_competence_component = SousCompetenceComponent.new(:numeratie, sous_competence[0], sous_competence[1]) %>

        <div class="critere-container">
          <h3 class="fr-tile__title fr-tile__title-sans-bordure-noire">
            <%= I18n.t(sous_competence_component.titre_traduction) %>
          </h3>
          <%= render(Evaluation::TableCriteresComponent.new(criteres)) %>
        </div>
      <% end %>
    </div>

    <%= render "pied_page" %>
  </div>

  <div class="page page-numeratie">
    <%= render "admin/evaluations/entete_page", restitution_globale: @restitution_globale %>

    <div class="content liste-criteres">
      <% @sous_competences[4..4].each do |sous_competence| %>
        <% criteres = sous_competence[1].criteres %>
        <% sous_competence_component = SousCompetenceComponent.new(:numeratie, sous_competence[0], sous_competence[1]) %>

        <div class="critere-container">
          <h3 class="fr-tile__title fr-tile__title-sans-bordure-noire">
            <%= I18n.t(sous_competence_component.titre_traduction) %>
          </h3>
          <%= render(Evaluation::TableCriteresComponent.new(criteres)) %>
        </div>
      <% end %>
    </div>

    <%= render "pied_page" %>
  </div>
<% end %>
