<div class="page adaptation-pdf francais_mathematiques">
  <%= render "entete_page", restitution_globale: @restitution_globale %>

  <h2 class="text-center mt-5 mb-4 evaluation__titre"><%= t("titre", scope: "admin.restitutions.cefr") %></h2>
  <% unless @completude_competences_de_base %>
    <%= render Evaluation::AlertIncompleteComponent.new %>
  <% end %>
  
  <div class="panel">
    <div class="marges-page">
      <%= render "litteratie_numeratie_synthese",
            synthese: @synthese_diagnostic,
            scope: "admin.restitutions.cefr.#{@synthese_diagnostic}",
            icone: "punaise-#{@synthese_diagnostic}.svg" %>

      <%= render "litteratie_numeratie_niveau1",
            niveau_litteratie: @niveau_cefr,
            niveau_numeratie: @niveau_cnef,
            referentiel: "cefr" %>
      <div class="row">
        <div class="col-auto badge"></div>
        <div class="col">
          <%= render "metacompetences", categorie: :litteratie %>
        </div>
        <div class="col-auto badge"></div>
        <div class="col">
          <%= render "metacompetences", categorie: :numeratie %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @mes_avec_redaction_de_notes.present? %>
  <div class="page adaptation-pdf francais_mathematiques">
    <%= render "entete_page", restitution_globale: @restitution_globale %>

    <%= render "communication_ecrite", restitution_globale: @restitution_globale, mes_avec_redaction_de_notes: @mes_avec_redaction_de_notes %>

    <%= render "pied_page" %>
  </div>
<% end %>
