<div id="francais_mathematiques" class="page francais_mathematiques">
  <h2 class="evaluation__titre"><%= t("titre", scope: "admin.restitutions.cefr") %></h2>
  <% unless @completude_competences_de_base %>
    <%= render Evaluation::AlertIncompleteComponent.new %>
  <% end %>

  <div class="panel panel--avec-references">
    <div class="marges-page">
      <%= render "admin/evaluations/eva/litteratie_numeratie_synthese",
            synthese: @synthese_diagnostic,
            scope: "admin.restitutions.cefr.#{@synthese_diagnostic}",
            icone: "punaise-#{@synthese_diagnostic}.svg" %>

      <%= render "admin/evaluations/eva/litteratie_numeratie_niveau1",
            niveau_litteratie: @niveau_cefr,
            niveau_numeratie: @niveau_cnef,
            referentiel: "cefr" %>

      <div class="row fr-my-4v">
        <div class="col-auto badge"></div>
        <div class="col">
          <%= render "admin/evaluations/eva/metacompetences", categorie: :litteratie %>
        </div>
        <div class="col-auto badge"></div>
        <div class="col">
          <%= render "admin/evaluations/eva/metacompetences", categorie: :numeratie %>
        </div>
      </div>
    </div>

    <%= render "admin/evaluations/eva/communication_ecrite", restitution_globale: @restitution_globale, mes_avec_redaction_de_notes: @mes_avec_redaction_de_notes %>

    <%= render "admin/evaluations/eva/referentiel_europeen" %>
  </div>
</div>
