<div class="fr-table fr-table--no-scroll fr-table--criteres-component" id="table-bordered-component">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table id="table-bordered">
          <thead>
            <tr>
              <th scope="col"><%= t('evaluation.critere') %></th>
              <th scope="col"><%= t('evaluation.code_clea') %></th>
              <th scope="col"><%= t('evaluation.tests_proposes') %></th>
              <th scope="col"><%= t('evaluation.resultat') %></th>
            </tr>
          </thead>
          <tbody>
            <% @criteres.each_with_index do |critere, index| %>
              <tr id="table-bordered-row-key-<%= index %>" data-row-key="<%= index %>">
                <td><%= critere.libelle %></td>
                <td><%= critere.code_clea %></td>
                <% if critere.pas_de_test? %>
                  <td><%= t('evaluation.pas_de_test_disponible') %></td>
                <% else %>
                  <td><%= critere.nombre_tests_proposes %></td>
                <% end %>
                <td>
                  <% unless critere.pas_de_test? %>
                    <%=
                      render(BadgeAcquisitionComponent.new(status: critere.resultat, classes: ["fr-badge--sm"]))
                    %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
