<div class="fr-table fr-table--lg fr-table--no-scroll fr-table--criteres-component" id="table-bordered-component">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table id="table-bordered">
          <thead>
            <tr>
              <th scope="col"><%= t("evaluation.critere") %></th>
              <th scope="col"><%= t("evaluation.code_clea") %></th>
              <th scope="col"><%= t("evaluation.resultat") %></th>
            </tr>
          </thead>
          <tbody>
            <% @criteres.each_with_index do |critere, index| %>
              <tr id="table-bordered-row-key-<%= index %>" data-row-key="<%= index %>">
                <td><%= critere.libelle %></td>
                <td><%= critere.code_clea %></td>
                <td>
                  <% if critere.pas_de_test? %>
                    <%= t("evaluation.pas_de_test_disponible") %></td>
                  <% else %>
                    <%= render(BarreSegmenteeComponent.new(
                      nombre_questions_reussies: critere.nombre_questions_reussies,
                      nombre_questions_echecs: critere.nombre_questions_echecs,
                      nombre_questions_non_passees: critere.nombre_questions_non_passees,
                      pourcentage_reussite: critere.pourcentage_reussite
                    )) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
