<div class="barre-segmentee">
  <% if @pourcentage_reussite.present? %>
    <p class="barre-segmentee__score"><%= I18n.t(".barre_segmentee.score", score: @pourcentage_reussite) %></p>
  <% end %>
  <p class="barre-segmentee__legende">
    <%= I18n.t(".barre_segmentee.legende",
               reussite: @nombre_questions_reussies,
               echec: @nombre_questions_echecs,
               non_passees: @nombre_questions_non_passees,
               total: nombre_questions_total) %>
  </p>
  <% if @pourcentage_reussite.present? %>
    <div class="barre-segmentee__graphique" aria-hidden="true">
      <% if @nombre_questions_reussies.positive? %>
        <div class="barre-segmentee__graphique-element barre-segmentee__graphique-element--succes" style="width: <%= pourcentage_questions(@nombre_questions_reussies) %>%"></div>
      <% end %>
      <% if @nombre_questions_echecs.positive? %>
        <div class="barre-segmentee__graphique-element barre-segmentee__graphique-element--echec" style="width: <%= pourcentage_questions(@nombre_questions_echecs) %>%"></div>
      <% end %>
      <% if @nombre_questions_non_passees.positive? %>
        <div class="barre-segmentee__graphique-element barre-segmentee__graphique-element--non-passee" style="width: <%= pourcentage_questions(@nombre_questions_non_passees) %>%"></div>
      <% end %>
    </div>
  <% end %>
</div>
