<div class="card-usage" <%= tag.attributes(@html_attributes) %>>
  <div class="card-usage__media">
    <div class="card-usage__visuel-16-9">
      <% if @image.present? %>
        <%= image_tag @image, alt: "", class: "card-usage__visuel-image-asset" %>
      <% else %>
        <div class="card-usage__visuel-image-container">
          <svg class="card-usage__visuel-image" xmlns="http://www.w3.org/2000/svg" width="75" height="64" viewBox="0 0 75 64" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M36.8094 5.57229C25.9209 5.57229 16.7604 14.4133 16.7604 25.1908C16.7604 26.7295 15.5068 27.9769 13.9604 27.9769C12.414 27.9769 11.1605 26.7295 11.1605 25.1908C11.1605 11.2208 22.945 0 36.8094 0C50.6739 0 62.4584 11.2208 62.4584 25.1908C62.4584 27.2003 62.2503 29.1499 61.8457 31.0217C63.2801 31.0504 64.6291 31.3324 65.8927 31.8677C67.2278 32.4019 68.3563 33.0932 69.2781 33.9415V33.8944C69.2781 33.0774 69.5483 32.4019 70.0887 31.8677C70.6291 31.3021 71.3126 31.0193 72.1391 31.0193C72.9656 31.0193 73.649 31.2864 74.1894 31.8206C74.7298 32.3547 75 33.046 75 33.8944V53.8316C75 54.6485 74.7298 55.3398 74.1894 55.9054C73.649 56.4396 72.9656 56.7067 72.1391 56.7067C71.3126 56.7067 70.6291 56.4396 70.0887 55.9054C69.5801 55.3712 69.3099 54.6957 69.2781 53.8787C68.4834 54.7899 67.4026 55.5755 66.0358 56.2353C64.7007 56.8638 63.2861 57.178 61.7921 57.178C59.5987 57.178 57.6119 56.6281 55.8318 55.5283C54.0517 54.3972 52.6371 52.8418 51.5881 50.8622C51.2591 50.222 50.9833 49.5538 50.7607 48.8576L38.9635 62.9938C38.4315 63.6312 37.6421 64 36.8094 64C35.9768 64 35.1873 63.6312 34.6553 62.9938L25.6984 52.261C24.7105 51.0772 24.874 49.3206 26.0637 48.3376C27.2533 47.3546 29.0186 47.5173 30.0065 48.7011L36.8094 56.8527L52.5454 37.9969C55.3079 34.4945 56.8585 30.1301 56.8585 25.1908C56.8585 14.4133 47.6979 5.57229 36.8094 5.57229ZM56.8774 41.5282L55.5959 43.0638C55.5624 43.4069 55.5457 43.7597 55.5457 44.1222C55.5457 46.3846 56.1815 48.2699 57.453 49.7781C58.7563 51.255 60.4411 51.9934 62.5073 51.9934C64.5735 51.9934 66.2583 51.255 67.5616 49.7781C68.8649 48.2699 69.5166 46.3846 69.5166 44.1222C69.5166 41.8598 68.8649 39.9745 67.5616 38.4663C66.2583 36.958 64.5735 36.2039 62.5073 36.2039C61.5628 36.2039 60.6972 36.3664 59.9103 36.6915C59.0971 38.3889 58.0973 39.9885 56.9229 41.4722C56.908 41.4911 56.8928 41.5097 56.8774 41.5282ZM23.4119 45.3477C23.9841 44.8763 24.2861 44.2636 24.3179 43.5095C24.3179 41.2785 23.7616 39.2047 22.649 37.288C21.5364 35.3712 20.0424 33.8473 18.1669 32.7161C16.3232 31.5849 14.3523 31.0193 12.2543 31.0193C10.1245 31.0193 8.12185 31.5692 6.24636 32.669C4.37086 33.7373 2.86093 35.2927 1.71656 37.3351C0.572185 39.3775 0 41.7499 0 44.4522C0 46.8716 0.540397 49.0554 1.62119 51.0036C2.70199 52.9203 4.22781 54.4286 6.19868 55.5283C8.20132 56.6281 10.5377 57.178 13.2079 57.178C14.7338 57.178 16.2437 56.9266 17.7377 56.4239C19.2318 55.9211 20.4238 55.3084 21.3139 54.5857C22.204 53.8944 22.649 53.1246 22.649 52.2762C22.649 51.6478 22.4106 51.0979 21.9338 50.6265C21.457 50.1552 20.8848 49.9195 20.2172 49.9195C19.7086 49.9195 19.1682 50.0609 18.596 50.3437C18.4371 50.438 18.1351 50.6265 17.6901 50.9093C17.2768 51.1607 16.7046 51.4121 15.9735 51.6635C15.2424 51.8834 14.2252 51.9934 12.9219 51.9934C11.2053 51.9934 9.66358 51.4749 8.29669 50.438C6.9298 49.3697 6.05563 47.9086 5.67417 46.0547H21.4093C22.1722 46.0547 22.8397 45.819 23.4119 45.3477ZM5.72185 41.3414C6.3894 37.9164 8.56689 36.2039 12.2543 36.2039C13.7483 36.2039 15.0834 36.6752 16.2596 37.6179C17.4358 38.5606 18.0874 39.6917 18.2146 41.0115V41.3414H5.72185Z" fill="#161616"/>
          </svg>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-usage__contenu">
    <div class="card-usage__corps">
      <% if @titre.present? %>
        <h5 class="card-usage__titre"><%= @titre %></h5>
      <% end %>
      <% if @description.present? %>
        <p class="card-usage__texte"><%= @description %></p>
      <% end %>
    </div>
    <div class="card-usage__zone-d-action">
      <% if submit? %>
        <%= tag.input type: "hidden", name: "commit", value: @submit_value %>
        <button type="submit" class="card-usage__icone" aria-label="<%= @aria_label %>">
          <svg class="card-usage__icone-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" aria-hidden="true">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.172 6.778L6.808 1.414L8.222 0L16 7.778L8.222 15.556L6.808 14.142L12.172 8.778H0V6.778H12.172Z" fill="currentColor"/>
          </svg>
        </button>
      <% else %>
        <%= content %>
      <% end %>
    </div>
  </div>
</div>
