<div class="card-usage" <%= tag.attributes(@html_attributes) %>>
  <div class="card-usage__media">
    <div class="card-usage__visuel-16-9">
      <%= image_tag @image, alt: @logo_alt %>
    </div>
  </div>
  <div class="card-usage__contenu">
    <div class="card-usage__corps">
      <% if @titre.present? %>
        <h5 class="card-usage__titre"><%= @titre %></h5>
      <% end %>
      <% if @description.present? %>
        <p class="card-usage__texte"><%= @description %></p>
      <% end %>
    </div>
    <div class="card-usage__zone-d-action">
        <%= tag.input type: "hidden", name: "commit", value: @submit_value %>
        <button type="submit" class="card-usage__icone" aria-label="<%= @aria_label %>">
          <svg class="card-usage__icone-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" aria-hidden="true">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.172 6.778L6.808 1.414L8.222 0L16 7.778L8.222 15.556L6.808 14.142L12.172 8.778H0V6.778H12.172Z" fill="currentColor"/>
          </svg>
        </button>
    </div>
  </div>
</div>
