<div class="card carte-partage-code">
  <div class="carte-partage-code__informations">
    <p class="carte-partage-code__description fr-m-0">
      <%= @description %>
    </p>

    <div class="carte-partage-code__code-lignes">
      <div class="carte-partage-code__code-ligne">
        <label class="carte-partage-code__information-libelle">
          <%= @libelle_code %>
        </label>
        <div class="carte-partage-code__information-valeur">
          <%= render CodeComponent.new(@code) %>
          <%= render BoutonCopierComponent.new(libelle: I18n.t("actions.copier_code"), texte: @code) %>
        </div>
      </div>

      <% if @url %>
        <div class="carte-partage-code__code-ligne">
          <label class="carte-partage-code__information-libelle">
            URL
          </label>
          <div class="carte-partage-code__information-valeur">
            <div class="url">
              <%= link_to @url, @url, target: "_blank", rel: "noopener" %>
            </div>
            <%= render BoutonCopierComponent.new(libelle: I18n.t("actions.copier_url"), texte: @url) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="carte-partage-code__footer">
    <%= footer %>
  </div>
</div>
