<div id="<%= @ressource.id %>" class="carte__conteneur position-relative">
  <div class="card carte-liste d-flex align-items-center <%= @carte_deroulee ? 'carte--deroulee' : '' %>">
    <div class="row w-100 no-gutters d-flex justify-content-between align-items-center">
      <div class='col d-flex'>
        <span class='carte__nom'><%= link_to @ressource.nom.truncate(30), admin_evaluation_path(@ressource) %></span>
      </div>
      <%= render partial: 'components/boutons_mise_en_action', locals: { evaluation: @ressource } %>
    </div>
  </div>
  <%= content %>
</div>
