<header role="banner" class="fr-header <%= "fr-header--logged-in" if logged_in? %>">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo"> République<br>française </p>
            </div>
            <% if @logo.present? %>
              <div class="fr-header__operator">
                <a href="/" title="<%= t("header.title_lien_logo", logo_alt: @logo_alt) %>">
                  <img style="max-width:10rem;" class="fr-responsive-img" src="<%= image_path @logo %>" alt="<%= @logo_alt %>" />
                </a>
              </div>
            <% end %>
          </div>
          <% if @titre.present? %>
            <div class="fr-header__service">
              <p class="fr-header__service-title" style="margin: 0;"><%= @titre %></p>
              <% if @tagline.present? %>
                <p class="fr-header__service-tagline" style="margin: 0;"><%= @tagline %></p>
              <% end %>
            </div>
          <% end %>
            <% if affiche_navigation? || affiche_actions_connexion? %>
              <div class="fr-header__navbar">
                <button class="fr-btn fr-btn--menu fr-header__menu-btn"
                        style="border-radius: 0;"
                        type="button"
                        id="header-menu-btn"
                        data-fr-opened="false"
                        aria-controls="header-menu"
                        aria-expanded="false"
                        title="Menu">
                  Menu
                </button>
              </div>
            <% end %>
        </div>
        <% if affiche_actions_connexion? %>
          <div class="fr-header__tools-links">
            <ul class="fr-btns-group">
              <% actions.each do |action| %>
                <li>
                  <%= render BoutonDsfrComponent.new(
                    action[:url],
                    type: bouton_type_for(action),
                    tag: :a,
                    class: action[:icon_class]
                  ) do %>
                    <%= action[:label] %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if affiche_navigation? || affiche_actions_connexion? %>
    <div class="fr-header__menu fr-modal" id="header-menu" aria-labelledby="header-menu-btn">
      <div class="fr-container">
        <button type="button" class="fr-btn fr-btn--close" style="border-radius: 0;" aria-controls="header-menu" title="Fermer">Fermer</button>
        <% if affiche_actions_connexion? %>
          <div class="fr-header__menu-links">
            <ul class="fr-btns-group fr-btns-group--sm fr-btns-group--icon-left">
              <% actions.each do |action| %>
                <li>
                  <%= render BoutonDsfrComponent.new(
                    action[:url],
                    type: bouton_type_for(action),
                    tag: :a,
                    class: action[:icon_class]
                  ) do %>
                    <%= action[:label] %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if affiche_navigation? %>
          <%= render NavigationComponent.new(links: @nav_links, current_compte: @current_compte) %>
        <% end %>
      </div>
    </div>
  <% end %>
</header>
