<header role="banner" class="fr-header <%= "fr-header--logged-in" if logged_in? %>">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo"> République<br>française </p>
            </div>
            <div class="fr-header__operator">
              <a href="<%= @logo_url %>" title="<%= @logo_alt %>">
                <img class="fr-responsive-img" src="<%= image_path @logo %>" alt="<%= @logo_alt %>" />
              </a>
            </div>
          </div>
          <% if affiche_titre? %>
            <div class="fr-header__service">
              <p class="fr-header__service-title" style="margin: 0;"> <%= @titre %> </p>
              <% if @tagline.present? %>
                <p class="fr-header__service-tagline" style="margin: 0;"><%= @tagline %></p>
              <% end %>
            </div>
          <% end %>
        </div>
        <% if affiche_actions_connexion? %>
          <div class="fr-header__tools">
            <!-- la classe initiale est fr-header__tools-links, elle a ete remplacee pour le moment parce qu'elle cree une erreur js et empeche d'ouvrir n'importe qu'elle modal -->
            <div class="tools-links">
              <ul class="fr-btns-group">
                <% actions.each do |action| %>
                  <li>
                    <%= render BoutonDsfrComponent.new(
                      action[:url],
                      type: bouton_type_for(action),
                      tag: :a,
                      class: action[:icon_class]
                    ) do %>
                      <%= action[:label] %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if affiche_navigation? %>
    <div class="fr-header__menu">
      <div class="fr-container">
        <%= render NavigationComponent.new(links: @nav_links, current_compte: @current_compte) %>
      </div>
    </div>
  <% end %>
</header>
