<div class="indicateur_impact">
  <div class="etape_courante">
    <div class="etape_courante__titre">
      <%= label_interpretation %>
    </div>
    <div class="etape_courante_indicateur">
      <%= titre_impact %>
    </div>
  </div>
  <div class="barre-segmentee">
    <div class="barre-segmentee__graphique" aria-label="<%= t("admin.evaluations.mesure_des_impacts.chart.aria_label") %>">
      <% if nombre_reussies.positive? %>
        <div class="barre-segmentee__graphique-element barre-segmentee__graphique-element--impact" style="width: <%= pourcentage_questions(nombre_reussies) %>%"></div>
      <% end %>
      <% if nombre_non_passees.positive? %>
        <div class="barre-segmentee__graphique-element barre-segmentee__graphique-element--non-passee" style="width: <%= pourcentage_questions(nombre_non_passees) %>%"></div>
      <% end %>
    </div>
  </div>
  <div class="explication">
    <div class="explication__pourquoi">Pourquoi&nbsp;:</div>
    <div class="explication__description"><%= description %></div>
  </div>
</div>

