<div class="fr-password">
  <label class="<%= label_classes %>" for="<%= input_id %>">
    <%= @label %><%= required_asterisk %>
    <% if @hint.present? %>
      <span class="fr-hint-text"><%= @hint %></span>
    <% end %>
  </label>
  <div class="fr-input-wrap">
    <% if @form.present? && @method.present? %>
      <%= @form.password_field(@method, input_attributes) %>
    <% else %>
      <%= tag.input(**input_attributes) %>
    <% end %>
  </div>
  <div class="fr-messages-group" id="<%= messages_id %>" aria-live="polite">
    <%= error_html %>
  </div>
  <div class="fr-password__checkbox fr-checkbox-group fr-checkbox-group--sm">
    <%= tag.input("aria-label": "Afficher le mot de passe", id: show_id, type: "checkbox") %>
    <label class="fr--password__checkbox fr-label" for="<%= show_id %>"> Afficher </label>
  </div>
</div>
