<% if @tooltip_content and @couleur != "" %>
  <button type="button"
          class="ellipse ellipse--<%= @couleur %>"
          data-toggle='tooltip'
          data-placement='right'
          title="<%= @tooltip_content %>">
          <span class="sr-only"><%= @tooltip_content%></span>
  </button>
<% else %>
  <span class="ellipse ellipse--<%= @couleur %>"> </span>
<% end %>
<%= @etiquette %>

