<div class="qcm w-100 <%= "questions-#{@questionnaire.nom}" %> <%= @qcm_affiche ? "" : "hidden" %>" style="z-index: <%= @priorite %>;">
  <form>
    <fieldset class="fr-mb-0">
      <legend><%= @questionnaire.question %></legend>
      <ul class="fr-mt-3v fr-p-0">
        <% @questionnaire.reponses.each_value do |option| %>
          <li>
            <label>
              <input type="radio" name="reponse_qcm" value="<%= option %>" autocomplete="off" aria-hidden="true">
              <%= render(Tag.new(t("activerecord.attributes.mise_en_action.#{@questionnaire.nom}.#{option}"))) %>
            </label>
          </li>
        <% end %>
      </ul>
    </fieldset>
    <div class="fr-mt-3v d-flex justify-content-end">
      <button type="button" class="fr-btn fr-btn--secondary fr-btn--sm bouton-fermer fr-mr-2v">
        <%= t(".action_fermer") %>
      </button>
      <button type="button" class="fr-btn fr-btn--sm valide-qcm fr-mr-0 bouton--desactive">
        <%= t(".action_valider") %>
      </button>
    </div>
  </form>
</div>
