<div class="qcm w-100 <%= "questions-#{@questionnaire.nom}" %> <%= @qcm_affiche ? "" : "hidden" %>" style="z-index: <%= @priorite %>;">
  <form>
    <fieldset class="mb-0">
      <legend><%= @questionnaire.question %></legend>
      <ul class="mt-3 p-0">
        <% @questionnaire.reponses.each_value do |option| %>
          <li>
            <label>
              <input type="radio" name="reponse_qcm" value="<%= option %>" autocomplete="off" aria-hidden="true">
              <%= render(Tag.new(t("activerecord.attributes.mise_en_action.#{@questionnaire.nom}.#{option}"))) %>
            </label>
          </li>
        <% end %>
      </ul>
    </fieldset>
    <div class="mt-3 d-flex justify-content-end">
      <button type="button" class="bouton-secondaire tres-petit-bouton bouton-fermer mr-1">
        <%= t(".action_fermer") %>
      </button>
      <button type="button" class="bouton tres-petit-bouton valide-qcm mr-0 bouton--desactive">
        <%= t(".action_valider") %>
      </button>
    </div>
  </form>
</div>
