<div class="recherche-structure">
  <label for="recherche-structure-autocomplete" class='label-champ-recherche'><%= t(".label_champ_recherche")%></label>
  <%= form_with url: @recherche_url, method: :get do |f| %>
    <div id="recherche-structure-autocomplete-container" class="champ-recherche champ-recherche--geographique" ></div>
    <%= f.hidden_field :code_postal, value: @code_postal %>
    <% class_disabled = @button_disabled ? "disabled": "" %>
    <%= f.submit t(".bouton_recherche_structure"), id: "bouton-chercher",
      class: class_disabled,
      disabled: @button_disabled,
      aria: { describedby: "recherche-structure-autocomplete" }
    %>
  <% end %>

  <% if @ville_ou_code_postal.present? %>
    <% if @structures_code_postal.present? %>
      <ul class="pl-0" title="<%= t(".titre_resultats", count: @structures_code_postal.size, code_postal: @code_postal) %>">
      <h3 class="description-liste-structures mt-4"><%= t(".titre_resultats", count: @structures_code_postal.size, code_postal: @code_postal) %></h3>
      <% @structures_code_postal.each do |structure| %>
        <%= render(RejoindreStructureComponent.new(structure, @current_compte)) %>
      <% end %>
      </ul>

      <%= render BoutonAjouterUneStructureComponent.new(@current_compte) %>
    <% end %>

    <% if @structures.present? %>
      <ul class="pl-0" title="<%= t(".titre_resultats_proches", count: @structures.size) %>">
      <h3 class="description-liste-structures mt-4"><%= t(".titre_resultats_proches", count: @structures.size) %></h3>
      <% @structures.each do |structure| %>
        <%= render(RejoindreStructureComponent.new(structure, @current_compte)) %>
      <% end %>
      </ul>

      <%= render BoutonAjouterUneStructureComponent.new(@current_compte) %>
    <% end %>

    <% if @structures.empty? && @structures_code_postal.empty? %>
      <p class="mt-4"><%= t(".aucun_resultat") %></p>
      <%= render BoutonAjouterUneStructureComponent.new(@current_compte) %>
    <% end %>

  <% end %>
</div>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const champ_recherche = document.querySelector('.ui-menu');
  if(champ_recherche) {
    champ_recherche.classList.add('recherche_structure');
  }
  const premier_bouton_rejoindre = document.querySelector('.rejoindre-structure a');
  if(premier_bouton_rejoindre) {
    setTimeout(() => {
      premier_bouton_rejoindre.focus();
    }, 100)
  }
});
</script>
