<div class="sous-competence__container">
  <div class="row">
    <div class="col-auto">
      <% if litteratie? %>
        <%= image_tag "badges/anlci/#{profil}.svg",
                      alt: t(".#{profil}.alt_icone") %>
      <% elsif numeratie? %>
        <%= render BadgeProfilComponent.new(badge_type) do %>
          <%= pourcentage_reussite %>%
        <% end %>
      <% end %>
    </div>
    <div class="col-7">
      <div>
        <h3><%= I18n.t(titre_traduction) %></h3>
        <% if litteratie? %>
          <%= md I18n.t(description_traduction(profil)) %>
        <% elsif numeratie? %>
          <%= md I18n.t(description_traduction(succes)) %>
          <%= image_tag 'fleche-droite.svg', alt: 'fleche', class: 'fleche-droite' %>
          <%= "#{nombre_questions_repondues} questions passées sur les #{nombre_total_questions} du sous-domaine" %>
        </div>
        <% if objet_sous_competence.criteres.present? %>
          <div class="sous-competence__critere-accordion">
            <%= dsfr_accordion do |accordion| %>
              <%= accordion.with_section(title: "Voir le détail", expanded: true) do %>
                <div class="fr-table fr-table--bordered fr-table--no-scroll" id="table-bordered-component">
                  <div class="fr-table__wrapper">
                    <div class="fr-table__container">
                      <div class="fr-table__content">
                        <table id="table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">Critère</th>
                              <th scope="col">Code Cléa</th>
                              <th scope="col">Tests proposés</th>
                              <th scope="col">Résultat</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% objet_sous_competence.criteres.each_with_index do |critere, index| %>
                              <tr id="table-bordered-row-key-<%= index %>" data-row-key="<%= index %>">
                                <td><%= critere.libelle %></td>
                                <td><%= critere.code_clea %></td>
                                <td><%= critere.nombre_tests_proposes %> sur <%= critere.nombre_tests_proposes_max %></td>
                                <td>70%</td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
