<% if litteratie? %>
  <div class="row">
    <div class="col-auto">
      <%= image_tag "badges/anlci/#{profil}.svg",
                    alt: t(".#{profil}.alt_icone") %>
    </div>
    <div class="col-7">
      <div>
        <h3><%= I18n.t(titre_traduction) %></h3>
        <%= md I18n.t(description_traduction(profil)) %>
      </div>
    </div>
  </div>
<% elsif numeratie? %>
  <div class="sous-competence fr-tile fr-tile--horizontal fr-tile--sous-domaine" id="tile-17">
    <div class="fr-tile__body">
      <div class="fr-tile__content">
        <div>
          <h3 class="fr-tile__title fr-tile__title-sans-bordure-noire">
            <%= I18n.t(titre_traduction) %>
          </h3>
          <div class="fr-tile__desc"><%= md I18n.t(description_traduction(succes)) %></div>
        </div>
        <div class="sous-competence__barre-segmentee">
          <%= render(BarreSegmenteeComponent.new(nombre_questions_reussies: nombre_questions_reussies, nombre_questions_echecs: nombre_questions_echecs, nombre_questions_non_passees: nombre_questions_non_passees, pourcentage_reussite: pourcentage_reussite)) %>
        </div>
      </div>
    </div>

    <div class="fr-tile__header" aria-hidden="true">
      <div class="fr-tile__pictogram">
        <%= image_tag("icone_profil/numeratie_#{@sous_competence}.svg", alt: '') %>
      </div>
    </div>
  </div>
<% end %>
