<div class="fr-table fr-table--no-caption fr-m-0" id="table-0-component" data-fr-js-table="true">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table id="table-0">
          <thead>
            <tr style="border-bottom-color: $grey-200;">
              <% colonnes.each do |colonne| %>
                <th><%= colonne[:titre] %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% collection.each_with_index do |item, index| %>
              <tr id="table-0-row-key-<%= index + 1 %>" data-row-key="<%= index + 1 %>">
                <% colonnes.each do |colonne| %>
                  <td class="<%= colonne[:td_class] %>">
                    <%= view_context.capture(item, &colonne[:block]) %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
