<div class="tag<%= ' tag-supprimable' if @supprimable %> <%= @classes %>">
  <span><%= @contenu %></span>
  <% if @supprimable %>
    <%= link_to @url, method: :patch, class: 'lien-supprimer' do %>
        <%= image_tag "croix.svg", alt: t(".supprimer") %>
    <% end %>
  <% end %>
</div>
