<div class='bloc-evaluations bloc-apercu'>
  <div class='bloc-apercu-wrapper'>
    <div class="titre-panel-avec-bouton fr-mb-3v">
      <h3><%= t(".titre") %></h3>
      <%= link_to t(".voir_tout"), admin_evaluations_path %>
    </div>

    <p class="evaluation-legende" aria-label="<%= t(".legende_sr") %>">
      <%= render(PastilleComponent.new(etiquette: t(".legende_info"), couleur: "alerte")) %>
    </p>
  </div>

  <ul class="m-0 p-0">
  <% evaluations.each do |evaluation| %>
    <li class="row w-100 no-gutters d-flex align-items-center position-relative pb-0">
      <div class='col'>
        <%= render(CarteComponent.new(admin_evaluation_path(evaluation))) do %>
          <div class='col d-flex'>
            <span class='carte__nom'><%= render NomAnonymisableComponent.new(evaluation.beneficiaire) %></span>
          </div>
          <div class='col'>
            <span class='carte__pastille-place-holder'>
            </span>
          </div>
          <div class='col d-flex justify-content-end align-items-center'>
            <span class='carte__date'>
              <%= l(evaluation.created_at) %>
            </span>
          </div>
        <% end %>
      </div>
      <div class='col-0 position-absolute carte__pastille'>
        <% if evaluation.illettrisme_potentiel? %>
          <%= render(PastilleComponent.new(tooltip_content: t("components.pastille.illettrisme_potentiel"), couleur: "alerte")) %>
        <% end %>
      </div>
    </li>
  <% end %>
  </ul>
</div>
