<% contenu_cout = contenu_cout(synthese) %>
<% explication_strategie = explication_strategie(synthese) %>
<% explication_numerique = explication_numerique(synthese) %>
<% resultat_strategie_lettre = lettre_score_strategie(synthese) %>
<% resultat_numerique_lettre = lettre_score_numerique(synthese) %>
<div class="fr-pl-4w fr-pr-4w couts">
  <% if contenu_cout.present? %>
    <%= render MiseEnAvantComponent.new(
      titre: contenu_cout[:titre],
      classes: [ "fr-callout--orange-terre-battue" ],
      icone: nil
    ) do %>
      <p class="fr-callout__text"><%= contenu_cout[:texte] %></p>
      <p class="fr-callout__text fr-mb-0"><%= contenu_cout[:suite] %></p>
    <% end %>
  <% end %>

  <div class="couts__graphiques">
    <h3 class="couts__graphiques-titre">Pourquoi ça me coûte ? Pourquoi ne pas agir pénalise mon organisation ?</h3>

    <div class="couts__colonnes">
      <div class="couts__colonne">
        <p class="couts__question">Quelles sont les stratégies de contournement mises en place par vos équipes ?</p>
        <div class="couts__pile-fleches">
          <p class="couts__titre-graphique">Stratégies de contournement</p>
          <div class="couts__graphique">
            <p class="couts__mention">Stratégie : impact faible</p>
            <%= render PileFlechesScoreComponent.new(theme: :color, active_score: resultat_strategie_lettre) %>
            <p class="couts__mention">Stratégie : impact fort</p>
          </div>
          <% if explication_strategie.present? %>
            <div class="couts__explication">
              <p class="couts__explication-titre"><%= explication_strategie[:titre] %></p>
              <p class="couts__explication-texte"><%= explication_strategie[:texte] %></p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="couts__colonne">
        <p class="couts__question">Où en est votre organisation dans une logique de transition et reconversion ?</p>
        <div class="couts__pile-fleches">
          <p class="couts__titre-graphique">Compétences numériques de base</p>
          <div class="couts__graphique">
            <p class="couts__mention">Numérique : impact faible</p>
            <%= render PileFlechesScoreComponent.new(theme: :blue, active_score: resultat_numerique_lettre) %>
            <p class="couts__mention">Numérique : impact fort</p>
          </div>
          <% if explication_numerique.present? %>
            <div class="couts__explication">
              <p class="couts__explication-titre"><%= explication_numerique[:titre] %></p>
              <p class="couts__explication-texte"><%= explication_numerique[:texte] %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
