<% complet = evaluation_impact_general.present? %>

<div id="evaluation-impact-general" class="fr-mb-6w">
  <h2 class="evaluation__titre"><%= t(".titre") %></h2>

  <div class="panel">
    <div class="fr-pl-4w fr-pr-4w">
      <% if complet %>
        <p class="fr-mb-0"><%= t(".complet.description") %></p>
      <% else %>
        <p><%= t(".incomplet.description") %></p>

        <% url = "#{URL_EVA_ENTREPRISES}/evaluation-impact?evaluation_id=#{params[:id]}" %>
        <%= render BoutonComponent.new(url, type: :primary) do %>
          <%= t(".incomplet.action") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
