<% complet = evaluation_impact_general.present? %>

<div id="evaluation-impact-general" class="fr-mb-6w">
  <h2 class="evaluation__titre"><%= t(".titre") %></h2>
  <div class="panel fr-pb-0">
    <div class="fr-pl-4w fr-pr-4w evaluation-impact-general__resultats">

      <% if complet %>
        <% synthese = evaluation_impact_general.synthese %>
        <% interpretations_impact = [
          :performance_collective,
          :agilite_organisationnelle,
          :securite_qualite,
          :mobilite_professionnelle
        ] %>

        <%= render partial: "admin/evaluations/mesure_des_impacts_chart",
                   locals: { synthese: synthese, interpretations_impact: interpretations_impact } %>
        
      <% else %>
        <p><%= t(".incomplet.description") %></p>

        <% url = "#{URL_EVA_ENTREPRISES}/evaluation-impact?evaluation_id=#{params[:id]}" %>
        <%= render BoutonComponent.new(url, type: :primary) do %>
          <%= t(".incomplet.action") %>
        <% end %>
      <% end %>
    </div>
    <div class="fr-pl-4w fr-pr-4w fr-pb-4v fr-pt-4v evaluation-impact-general__definitions">
      <%= render partial: "admin/evaluations/mesure_des_impacts_definitions" %>
    </div>
  </div>
  <h2 class="evaluation__titre">Coûts</h2>
  <div class="panel">
    <% if complet %>
      <%= render "impact_couts", synthese: synthese %>
    <% end %>
  </div>

</div>
