<% complet = evaluation_impact_general.present? %>

<div id="evaluation-impact-general" class="fr-mb-6w">
  <h2 class="evaluation__titre"><%= t(".titre") %></h2>

  <div class="panel">
    <div class="fr-pl-4w fr-pr-4w">
      <% if complet %>
        <% interpretations = [
          :performance_collective,
          :agilite_organisationnelle,
          :securite_qualite,
          :mobilite_professionnelle
        ] %>
        <% interpretations.each do |interpretation| %>
          <% resultat = evaluation_impact_general.synthese[interpretation] %>
          <% classes = if resultat == :tres_fort || resultat == :fort
              [ "fr-callout--pink-macaron" ]
 elsif resultat == :moyen
              [ "fr-callout--blue-cumulus" ]
 else
              [ "fr-callout--green-emeraude" ]
            end
          %>

          <div class="fr-mb-4w">
            <%= render MiseEnAvantComponent.new(
              titre: t(".#{interpretation}.callout.titre.#{resultat}"),
              classes: classes.push("fr-mb-0")
            ) %>
          </div>
        <% end %>

        <% interpretations = [
          :score_cout,
          :score_strategie,
          :score_numerique
        ] %>
        <% interpretations.each do |interpretation| %>
          <% resultat = evaluation_impact_general.synthese[interpretation] %>
          <% classes = if resultat == :tres_fort || resultat == :fort
              [ "fr-callout--pink-macaron" ]
 elsif resultat == :moyen
              [ "fr-callout--blue-cumulus" ]
 else
              [ "fr-callout--green-emeraude" ]
            end
          %>

          <div class="fr-mb-4w">
            <%= render MiseEnAvantComponent.new(
              titre: t(".#{interpretation}.callout.titre.#{resultat}"),
              classes: classes.push("fr-mb-0")
            ) %>
          </div>
        <% end %>
      <% else %>
        <p><%= t(".incomplet.description") %></p>

        <% url = "#{URL_EVA_ENTREPRISES}/evaluation-impact?evaluation_id=#{params[:id]}" %>
        <%= render BoutonComponent.new(url, type: :primary) do %>
          <%= t(".incomplet.action") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
