<button class="bouton-secondaire petit-bouton bouton-icone-plus"><%= t('.action') %></button>
<%= form_with id: :recherche_responsable_suivi, url: ajouter_responsable_suivi_admin_evaluation_path(resource), class: 'hidden' do |f| %>
  <%= f.search_field :nom_responsable_suivi, placeholder: t('.placeholder'), class: 'champ-recherche' %>
  <%= f.hidden_field :responsable_suivi_id %>
<% end %>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const boutonAjout = $("#responsable_de_suivi_sidebar_section button" );
  const formulaireRecherche = $("#recherche_responsable_suivi" );

  afficheRecherche(boutonAjout, formulaireRecherche);

  const comptes = [<% responsables_suivi_possibles.each do |compte| %>
    { value: "<%= escape_javascript(compte.display_name.html_safe) %>", id: "<%= compte.id %>" },
  <% end %>];
  $("#nom_responsable_suivi" ).autocomplete({
    source: function (request, response) {
      const term = request.term.toLowerCase();
      response(comptes.filter(compte => compte.value.toLowerCase().includes(term)));
    },
    response: ajouteReponseAucunResultat,
    select: function( event, ui ) {
      $('#responsable_suivi_id').val(ui.item.id);
      $('#recherche_responsable_suivi').submit();
    },
    autoFocus: false,
    minLength: 0,
  });
  $('.ui-menu').addClass('responsable_suivi');
});
</script>
