<section class="bloc-questionnaires-entreprise section-tableau-bord-eva-pro">
  <% if premiere_reponse_complete %>
    <h3 class="bloc-questionnaires-entreprise__titre">
      <%= t("admin.dashboard.eva_pro.bloc_questionnaires_entreprise.titre_relancer_questionnaire") %>
    </h3>
    <p class="bloc-questionnaires-entreprise__texte">
      <%= t("admin.dashboard.eva_pro.bloc_questionnaires_entreprise.texte_relancer_questionnaire") %>
    </p>
  <% else %>
    <p class="bloc-questionnaires-entreprise__description"><%= t(".evapro_description") %></p>
    <p class="bloc-questionnaires-entreprise__description_2"><%= t(".evapro_description_2") %></p>
  <% end %>
  <div class="bloc-questionnaires-entreprise__grid">
    <% campagnes.each do |campagne| %>
      <div class="bloc-questionnaires-entreprise__item">
        <% url = LanceurCampagne.url(campagne, current_compte) %>
        <%= render CardDiagnostiqueComponent.new(
          titre: campagne.parcours_type.libelle,
          description: campagne.parcours_type.description,
          bouton_label: t(".bouton_label"),
          bouton_url: url,
          opco: campagne.evapro_opco? ? opco : nil,
          bouton_attributes: { target: "_blank", rel: "noopener" }
        ) %>
      </div>
    <% end %>
  </div>
</section>
