<div class="page-comparaison">
  <% litteratie = comparaison.evaluations_litteratie %>
  <% if litteratie.present? %>
    <% competence = :litteratie %>

    <% evaluation_litteratie_0 = litteratie[0] %>
    <% restitution_litteratie_0 = comparaison.restitutions_litteratie[0].litteratie %>
    <% profil_0 = restitution_litteratie_0 ? restitution_litteratie_0.niveau_litteratie : "indetermine" %>
    <% sous_competences_0 = restitution_litteratie_0.competences_litteratie %>

    <% evaluation_litteratie_1 = litteratie[1] %>
    <% if evaluation_litteratie_1 %>
      <% restitution_litteratie_1 = comparaison.restitutions_litteratie[1].litteratie %>
      <% profil_1 = restitution_litteratie_1 ? restitution_litteratie_1.niveau_litteratie : "indetermine" %>
      <% sous_competences_1 = restitution_litteratie_1.competences_litteratie %>
    <% end %>
    
    <% evaluation_litteratie_1 = litteratie[1] %>
    <% restitution_litteratie_1 = litteratie[1] %>
    <%= render PanelComponent.new(titre: "Littératie", classes: "panel--beneficiaire") do %>
      <div class="fr-table fr-m-0" id="table-litteratie-component">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table id="table-7">
              <thead>
                <tr>
                  <th role="columnheader">
                  </th>
                  <th> <%= I18n.l(evaluation_litteratie_0.debutee_le, format: :sans_heure) %> </th>
                  <th> <%= evaluation_litteratie_1 ? I18n.l(evaluation_litteratie_1.debutee_le, format: :sans_heure) : "-" %> </th>
                </tr>
              </thead>
              <tbody>
                <tr id="table-litteratie-row-key-1" data-row-key="1">
                  <th scope="row"> Profil </th>
                  <td> <%= render(Badge::ProfilComponent.new(profil_0, competence)) %> </td>
                  <td>
                    <% if evaluation_litteratie_1 %>
                      <%= render(Badge::ProfilComponent.new(profil_1, competence)) %>
                    <% else %>
                      -
                    <% end %>
                  </td>
                </tr>
                <% index = 1 %>
                <% sous_competences_0.each do |sous_competence, objet_sous_competence|%>
                  <% index += 1 %>
                  <tr id="table-litteratie-row-key-<%= index %>" data-row-key="<%= index %>">
                    <th scope="row">
                      <%= I18n.t("admin.evaluations.positionnement.sous_competences.litteratie.#{sous_competence}.titre") %>
                    </th>
                    <td> <%= render(Badge::ProfilComponent.new(sous_competences_0[sous_competence].profil, competence)) %> </td>
                    <td>
                      <% if sous_competences_1 %>
                        <%= render(Badge::ProfilComponent.new(sous_competences_1[sous_competence].profil, competence)) %>
                      <% else %>
                        -
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>

  <% numeratie = comparaison.evaluations_numeratie %>
  <% if numeratie.present? %>
    <% competence = :numeratie %>

    <% evaluation_numeratie_0 = numeratie[0] %>
    <% restitution_numeratie_0 = comparaison.restitutions_numeratie[0].numeratie %>
    <% profil_0 = restitution_numeratie_0 ? restitution_numeratie_0.profil_numeratie : "indetermine" %>
    <% sous_competences_0 = restitution_numeratie_0.competences_numeratie %>

    <% evaluation_numeratie_1 = numeratie[1] %>
    <% if evaluation_numeratie_1 %>
      <% restitution_numeratie_1 = comparaison.restitutions_numeratie[1].numeratie %>
      <% profil_1 = restitution_numeratie_1 ? restitution_numeratie_1.profil_numeratie : "indetermine" %>
      <% sous_competences_1 = restitution_numeratie_1.competences_numeratie %>
    <% end %>
    
    <% evaluation_numeratie_1 = numeratie[1] %>
    <% restitution_numeratie_1 = numeratie[1] %>
    <%= render PanelComponent.new(titre: "Littératie", classes: "panel--beneficiaire") do %>
      <div class="fr-table fr-m-0" id="table-numeratie-component">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table id="table-7">
              <thead>
                <tr>
                  <th role="columnheader">
                  </th>
                  <th> <%= I18n.l(evaluation_numeratie_0.debutee_le, format: :sans_heure) %> </th>
                  <th style="min-width: 33%;"> <%= evaluation_numeratie_1 ? I18n.l(evaluation_numeratie_1.debutee_le, format: :sans_heure) : "-" %> </th>
                </tr>
              </thead>
              <tbody>
                <tr id="table-numeratie-row-key-1" data-row-key="1">
                  <th scope="row"> Profil </th>
                  <td> <%= render(Badge::ProfilComponent.new(profil_0, competence)) %> </td>
                  <td>
                    <% if evaluation_numeratie_1 %>
                      <%= render(Badge::ProfilComponent.new(profil_1, competence)) %>
                    <% else %>
                      -
                    <% end %>
                  </td>
                </tr>
                <% index = 1 %>
                <% sous_competences_0.each do |sous_competence, objet_sous_competence|%>
                  <% index += 1 %>
                  <tr id="table-numeratie-row-key-<%= index %>" data-row-key="<%= index %>">
                    <th scope="row">
                      <%= I18n.t("admin.evaluations.positionnement.sous_competences.numeratie.#{sous_competence}.titre") %>
                    </th>
                    <td>
                      <%= render BarreSegmenteeComponent.new(
                        nombre_questions_reussies: sous_competences_0[sous_competence].nombre_questions_reussies,
                        nombre_questions_echecs: sous_competences_0[sous_competence].nombre_questions_echecs,
                        nombre_questions_non_passees: sous_competences_0[sous_competence].nombre_questions_non_passees,
                        pourcentage_reussite: sous_competences_0[sous_competence].pourcentage_reussite,
                        avec_legende: false
                      ) %>
                    </td>
                    <td>
                      <% if sous_competences_1 && sous_competences_1[sous_competence] %>
                        <%= render BarreSegmenteeComponent.new(
                          nombre_questions_reussies: sous_competences_1[sous_competence].nombre_questions_reussies,
                          nombre_questions_echecs: sous_competences_1[sous_competence].nombre_questions_echecs,
                          nombre_questions_non_passees: sous_competences_1[sous_competence].nombre_questions_non_passees,
                          pourcentage_reussite: sous_competences_1[sous_competence].pourcentage_reussite,
                          avec_legende: false
                        ) %>
                      <% else %>
                        -
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
