<% pdf ||= false %>

<% competence = :numeratie %>
<% sous_competences = [:"2_1", :"2_2", :"2_3", :"2_4", :"2_5"]%>
<% tableau = comparaison.tableau_comparaison(competence) %>
<% classes_additionnels = "fr-table--no-scroll" if pdf %>

<% if tableau.present? %>
  <%= render PanelComponent.new(titre: "Numératie", classes: "panel--beneficiaire") do %>
    <div class="fr-table fr-m-0 <%= classes_additionnels %>" id="table-numeratie-component">
    <div class="fr-table__wrapper">
      <div class="fr-table__container">
        <div class="fr-table__content">
          <table id="table-7">
            <thead>
              <tr>
                <th class="page-comparaison__min-column" role="columnheader">
                </th>

                <% 2.times do |i| %>
                  <th class="page-comparaison__min-column">
                    <%= tableau[i][:evaluation] ? I18n.l(tableau[i][:evaluation].debutee_le, format: :sans_heure) : "-" %>
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <tr id="table-numeratie-row-key-1" data-row-key="1">
                <th scope="row"> Profil général </th>
                <% 2.times do |i| %>
                  <td>
                    <div class="page-comparaison__container-badge">
                      <% if tableau[i][:profil] %>
                        <%= render(Badge::ProfilComponent.new(tableau[i][:profil], competence)) %>
                      <% else %>
                        -
                      <% end %>
                    </div>
                  </td>
                <% end %>
              </tr>
              <% index = 1 %>
              <% sous_competences.each do |sous_competence, objet_sous_competence|%>
                <% index += 1 %>
                <tr id="table-numeratie-row-key-<%= index %>" data-row-key="<%= index %>">
                  <th scope="row">
                    <%= I18n.t("admin.evaluations.positionnement.sous_competences.numeratie.#{sous_competence}.titre") %>
                  </th>
                  <% 2.times do |i| %>
                    <td>
                      <% if tableau[i][:sous_competences] && tableau[i][:sous_competences][sous_competence] %>
                        <%= render BarreSegmenteeComponent.new(
                          nombre_questions_reussies: tableau[i][:sous_competences][sous_competence].nombre_questions_reussies,
                          nombre_questions_echecs: tableau[i][:sous_competences][sous_competence].nombre_questions_echecs,
                          nombre_questions_non_passees: tableau[i][:sous_competences][sous_competence].nombre_questions_non_passees,
                          pourcentage_reussite: tableau[i][:sous_competences][sous_competence].pourcentage_reussite,
                          avec_legende: false
                        ) %>
                      <% else %>
                        -
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
