<% entete_page_args = {
  nom_beneficiaire: beneficiaire.nom,
  code_beneficiaire: beneficiaire.code_beneficiaire,
  structure: structure.nom
} %>

<div class="page-pdf page adaptation-pdf page-comparaison">
  <%= render Pdf::EntetePageComponent.new(**entete_page_args) %>
  <div class="page-pdf__contenu">
    <h1 class="page-comparaison__titre">Comparaison des résultats</h1>

    <%= render partial: "comparaison",
            locals: {
              titre: "Littératie",
              competence: :litteratie,
              sous_competences: Restitution::SousCompetence::Litteratie::LISTE,
              tableau: comparaison.tableau_comparaison(:litteratie)
            } %>
    <%= render partial: "comparaison",
              locals: {
                titre: "Numératie",
                competence: :numeratie,
                sous_competences: Restitution::SousCompetence::Numeratie::LISTE,
                tableau: comparaison.tableau_comparaison(:numeratie)
              } %>
  </div>
  <%= render Pdf::PiedPageComponent.new %>
</div>

<%= render Evaluation::AnnexePositionnementComponent.new(
  **entete_page_args
) %>
