<% content_for :title, t('active_admin.devise.login.title') %>
<% content_for :titre, t('active_admin.devise.login.titre') %>

<div class="panels-login">
  <div class="colonne-1">
    <div class="panel panel--connexion">
      <h2 class="panel-header"><%= t('active_admin.devise.login.header_title') -%></h2>

      <div class="panel-content">
        <div class="espace-inclusion-connect">
          <div class="bouton-action bouton-action--centre">
            <a class="actions" href="javascript:basculer_login_eva()">
              <%= t('.eva-login.connexion') %>
            </a>
          </div>
          <div class="espace-inclusion-connect-transition" ><%= t('.inclusion-connect.transition') %></div>
          <div class='bouton-action bouton-action--centre'>
            <%= link_to image_tag('logo-inclusion-connect-one-line.svg', alt: 'Se connecter avec Inclusion Connect', height: 14), inclusion_connect_auth_path, class:'btn-inclusion-connect' %>
          </div>
          <div class="panel-description mt-4">
            <%= md t('.inclusion-connect.description') -%>
          </div>
        </div>
        <div class="espace-connexion hidden">
          <h4 class="mb-3"><%= t('.eva-login.titre') %></h4>
          <% scope = Devise::Mapping.find_scope!(resource_name) %>
          <%= active_admin_form_for(resource, as: resource_name, url: send(:"#{scope}_session_path"), html: { id: "session_new" }) do |f|
            f.inputs do
              resource.class.authentication_keys.each_with_index { |key, index|
                f.input key, label: t("active_admin.devise.#{key}.title"), input_html: { autofocus: index.zero? && !params.key?(:code_erreur) }
              }
              f.input :password, label: t('active_admin.devise.password.title')
              li class:'m-0' do
                div class: 'liens-partages' do
                  render partial: "active_admin/devise/shared/links"
                end
              end
              f.input :remember_me, label: t('active_admin.devise.login.remember_me'), as: :boolean if devise_mapping.rememberable?
            end
            div class: 'bouton-action actions' do
              text_node link_to t('.eva-login.retour'), '#', onclick: "javascript:basculer_login_eva()", class:'actions actions-annuler'
              f.submit t('active_admin.devise.login.submit')
            end
          end
          %>
        </div>
        <div class="espace-inscription separateur hidden">
          <h4><%= t('active_admin.devise.login.inscription.content') -%></h4>
          <div class='bouton-action'>
            <%= link_to t('active_admin.devise.login.inscription.action'), structures_path, class:'actions' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="colonne-2">
    <div class="panel panel--evaluation">
      <h2 class="panel-header"><%= t('active_admin.devise.login.evaluations.header_title') -%></h2>
      <div class="panel-content">
        <div class="panel-description">
          <%= md t('active_admin.devise.login.evaluations.content') -%>
        </div>

        <%= form_with url: connexion_espace_jeu_path do |form| %>
          <fieldset class='inputs'>
            <ol>
              <li class='input'>
                <%= form.label :code, t('active_admin.devise.login.evaluations.campagne') %>
                <% code = params[:code] %>
                <%= form.text_field :code, placeholder: 'DEMO', value: code %>
                <% if params[:code_erreur] %>
                  <p class="inline-errors"><%= params[:code_erreur] %></p>
                <% end %>
              </li>
            </ol>
          </fieldset>
          <div class="bouton-action actions">
            <%= form.submit t('active_admin.devise.login.evaluations.bouton') %>
          </div>
        <% end %>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  function basculer_login_eva() {
    $(".espace-connexion").toggleClass("hidden");
    $(".espace-connexion").find('#compte_email').select();
    $(".espace-inscription").toggleClass("hidden");
    $(".espace-inclusion-connect").toggleClass("hidden");
  }
</script>
