<% contenu_cout = couts_presenter.contenu_cout %>

<div id="evaluation-impact-couts">
  <h2 class="evaluation__titre"><%= t(".titre") %></h2>
  <div class="couts">
    <% if contenu_cout %>
      <%= render Evaluation::MesureChiffreCleComponent.new(
        palier: couts_presenter.lettre(:score_cout),
        chiffre: contenu_cout[:titre],
        suffixe: t(".suffixe_masse_salariale"),
        explications: {
          texte: contenu_cout[:texte],
          suite: contenu_cout[:suite]
        }
      ) %>
    <% end %>

    <div class="couts__graphiques">
      <h3 class="couts__graphiques-titre"><%= t(".titre_graphiques") %></h3>

      <div class="couts__colonnes">
        <%= render partial: "admin/evaluations/evapro/impact_couts_indicateur", locals: {
          indicateur: :score_strategie,
          theme: :color,
          presenter: couts_presenter
        } %>
        <%= render partial: "admin/evaluations/evapro/impact_couts_indicateur", locals: {
          indicateur: :score_numerique,
          theme: :blue,
          presenter: couts_presenter
        } %>
      </div>
    </div>
  </div>
</div>
