<% @question ||= Question.new %>
<%= form_with model: @question, url: import_xls_admin_questions_path, method: :post, local: true do |form| %>
  <div class="field">
    <%= form.label :file_xls, "Fichier XLS" %>
    <%= form.file_field :file_xls, accept: '.xls' %>
  </div>

  <%= form.hidden_field :type, value: type %>

  <div class="actions">
    <%= form.submit 'Importer le fichier' %>
  </div>
<% end %>
