<%= semantic_form_for @structure, url: inscription_structure_path, method: :patch do |form| %>
  <%= form.semantic_errors *champs_non_affiches(form.object.errors.messages.keys, [ :raison_sociale ]) %>
  <%= form.hidden_field :action_type, value: "creer" %>
  
  <%= form.inputs do %>
    <%= render CarteV2Component.new(titre: t("inscription.structures.show.titre_parametrage"), sous_titre: t("inscription.structures.show.mention_champs_obligatoires")) do %>
      <div class="structure-content-wrapper">
        <%= render "parametrage_section", form: form %>

        <%= render "nouvelles_structures/modal_confirmation_creation_structure" %>

        <div class="informations-compte-actions">
          <%= render BoutonDsfrComponent.new(inscription_structure_path(etape: "confirmation"), type: :tertiary) do %>
            <%= t("inscription.structures.show.retour") %>
          <% end %>
          <%= render BoutonDsfrComponent.new(
            "#",
            type: :primary,
            tag: :button,
            id: "creer-structure-btn",
            "data-fr-opened": false,
            "data-fr-js-modal-button": true,
            "aria-controls": "fr-modal-confirmation-creation-structure"
          ) do %>
            <%= t("inscription.structures.show.creer_structure") %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

