<%= semantic_form_for @compte, url: inscription_structure_path do |form| %>
  <%= form.semantic_errors *champs_non_affiches(form.object.errors.messages.keys, []) %>

  <%= form.inputs do %>
    <%= render CarteV2Component.new(titre: t("inscription.structures.show.titre_carte")) do %>
      <div class="structure-content-wrapper">
        <%= render "structure_info_card", structure: @structure %>

        <%= form.input :structure_confirmee, as: :boolean, label: t("inscription.structures.show.confirme_structure"), required: false %>

        <p class="structure-confirmation-mention">
          <%= t("inscription.structures.show.mention_acces") %>
        </p>

        <div class="informations-compte-actions">
          <%= render BoutonDsfrComponent.new(
            t("inscription.structures.show.ce_nest_pas_ma_structure"),
            type: :tertiary,
            tag: :submit,
            submit_value: "recherche",
            formaction: inscription_structure_path(action_type: "recherche")
          ) do %>
            <%= t("inscription.structures.show.ce_nest_pas_ma_structure") %>
          <% end %>
          <%= render BoutonDsfrComponent.new(
            t("inscription.structures.show.rejoindre"),
            type: :primary,
            tag: :submit,
            submit_value: "rejoindre",
            id: "rejoindre-structure-btn",
            disabled: true
          ) do %>
            <%= t("inscription.structures.show.rejoindre") %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

