<%= semantic_form_for @compte, url: inscription_structure_path do |form| %>
  <%= form.semantic_errors *champs_non_affiches(form.object.errors.messages.keys, []) %>

  <%= form.inputs do %>
    <%= render CarteV2Component.new(titre: t("inscription.structures.show.titre_carte")) do %>
      <div class="structure-content-wrapper">
        <%= render "structure_info_card", structure: @structure %>

        <%= form.input :structure_confirmee, as: :boolean, label: t("inscription.structures.show.confirme_structure"), required: false %>

        <p class="structure-confirmation-mention">
          <%= t("inscription.structures.show.mention_acces") %>
          <%= link_to inscription_structure_path(action_type: "recherche"), class: "lien-avec-fleche" do %>
            <span class="fr-icon fr-icon-arrow-right-line" aria-hidden="true"></span>
            <%= t("inscription.structures.show.ce_nest_pas_ma_structure") %>
          <% end %>
        </p>

        <div class="informations-compte-actions">
          <%= form.button t("inscription.structures.show.ce_nest_pas_ma_structure"), type: :submit, name: "commit", value: "recherche", class: "bouton-tertiaire grand-bouton", formaction: inscription_structure_path(action_type: "recherche") %>
          <%= form.button t("inscription.structures.show.rejoindre"), type: :submit, name: "commit", value: "rejoindre", class: "bouton grand-bouton", id: "rejoindre-structure-btn", disabled: true %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

