<div class="structure-parametrage-section">  
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12">
      <%= render InputComponent.new(
        id: "structure_nom",
        label: t("inscription.structures.show.nom_structure_label"),
        form: form,
        method: :nom,
        type: "text",
        hint: t("inscription.structures.show.hint_nom_structure"),
        required: true,
        value: form.object.nom.presence || form.object.raison_sociale
      ) %>
    </div>
    <div class="fr-col-12">
      <%= render InputComponent.new(
        id: "structure_type_structure",
        label: t("inscription.structures.show.type_structure_label"),
        form: form,
        method: :type_structure,
        as: :select,
        collection: collection_types_structures,
        include_blank: t("inscription.structures.show.choisir_type"),
        required: true
      ) %>
    </div>
    <div class="fr-col-12">
      <%= render InputComponent.new(
        id: "structure_opco_id",
        label: t("inscription.structures.show.opco_label"),
        form: form,
        method: :opco_id,
        collection: collection_opcos,
        required: true,
        value: opco_id_associe(form.object),
        hint: t("inscription.structures.show.hint_opco")
      ) %>
      <%= render LienComponent.new("Trouver mon OPCO sur France Compétences", "https://quel-est-mon-opco.francecompetences.fr/unavailable", externe: true) %>
    </div>
  </div>

  <p class="structure-parametrage-section__mention-admin">
    <%= t("inscription.structures.show.mention_creation") %>
  </p>
</div>

