<div class="structure-info-card">
  <ul class="structure-info-card__list">
    <li class="structure-info-card__info">
      <span class="structure-info-card__label">Numéro SIRET :</span> <span class="structure-info-card__value"><%= structure.siret %></span>
    </li>
    <% if structure.persisted? %>
      <li class="structure-info-card__info">
        <span class="structure-info-card__label">Dénomination :</span> <span class="structure-info-card__value"><%= structure.nom %></span>
      </li>
    <% else %>
      <li class="structure-info-card__info">
        <span class="structure-info-card__label">Raison sociale :</span> <span class="structure-info-card__value"><%= structure.raison_sociale %></span>
      </li>
    <% end %>
    <li class="structure-info-card__info">
      <span class="structure-info-card__label">Adresse :</span> <span class="structure-info-card__value"><%= structure.adresse %></span>
    </li>
    <li class="structure-info-card__info">
      <span class="structure-info-card__label">OPCO :</span> <span class="structure-info-card__value">
        <% if structure.opcos.any? %>
          <%= structure.opcos.map(&:nom).join(", ") %>
        <% else %>
          <%= t("inscription.structures.show.opco_non_identifie") %>
        <% end %>
      </span>
    </li>
  </ul>
  <p class="structure-info-card__mention-opco">
    <% if structure.opcos.any? %>
      <%= t("inscription.structures.show.mention_opco_detecte") %>
    <% else %>
      <%= t("inscription.structures.show.mention_opco_non_detecte") %>
    <% end %>
  </p>
</div>

