<% content_for :classes_conteneur do "conteneur-elargi conteneur-invisible" end %>

<% persisted = @structure&.persisted? %>
<% etape = params[:etape] || (persisted ? nil : "confirmation") %>

<% if persisted %>
  <% content_for :title, t(".rejoindre_structure.titre") %>
  <% content_for :titre, t(".rejoindre_structure.titre") %>
  <% content_for :sous_titre, t(".rejoindre_structure.sous_titre") %>
<% elsif etape == "parametrage" %>
  <% content_for :title, t(".parametrage.titre") %>
  <% content_for :titre, t(".parametrage.titre") %>
  <% content_for :sous_titre, t(".parametrage.sous_titre") %>
<% elsif etape == "usage" %>
  <% content_for :title, t(".usage.titre") %>
  <% content_for :titre, t(".usage.titre") %>
  <% content_for :sous_titre, t(".usage.sous_titre") %>
<% else %>
  <% content_for :title, t(".confirmation.titre") %>
  <% content_for :titre, t(".confirmation.titre") %>
  <% content_for :sous_titre, t(".confirmation.sous_titre") %>
<% end %>

<div class="page-inscription-structure">
  <% if persisted %>
    <%= render TexteIntroComponent.new(titre: t(".titre_intro_presente"), texte: t(".sous_titre_intro_presente")) %>
    <%= render "form_rejoindre" %>
  <% elsif etape == "parametrage" %>
    <%= render TexteIntroComponent.new(titre: t(".parametrage.titre"), texte: t(".parametrage.sous_titre")) %>
    <%= render "form_creer" %>
  <% elsif etape == "usage" %>
    <%= render TexteIntroComponent.new(titre: t(".usage.titre"), texte: t(".usage.texte_intro")) %>
    <%= render "form_usage" %>
  <% else %>
    <%= render TexteIntroComponent.new(titre: t(".confirmation.titre"), texte: t(".confirmation.sous_titre")) %>
    <%= render "form_confirmation" %>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    <% if persisted %>
      structure_confirmation_submit();
    <% elsif etape == "parametrage" %>
      structure_creation_parametrage_submit();
    <% elsif etape == "usage" %>
      structure_usage_submit();
    <% else %>
      structure_creation_confirmation_submit();
    <% end %>
  });
</script>
