<div id="login">
  <h2><%= active_admin_application.site_title(self) %> <%= title t('active_admin.devise.sign_up.title') %></h2>

  <% scope = Devise::Mapping.find_scope!(resource_name) %>
  <%= render partial: "active_admin/devise/shared/error_messages", resource: resource %>
  <%= active_admin_form_for(resource, as: resource_name, url: send(:"#{scope}_registration_path"), html: { id: "registration_new" }) do |f|
    f.inputs do
      f.input :prenom
      f.input :nom
      resource.class.authentication_keys.each_with_index { |key, index|
        f.input key, label: t('active_admin.devise.'+key.to_s+'.title'), input_html: { autofocus: index.zero? }
      }
      f.input :password
      f.input :password_confirmation
      f.input :structure, hint: "Si vous ne trouvez pas votre structure, #{ link_to 'enregistrez-la ici', nouvelle_structure_path }".html_safe,
                          collection: Hash[Structure.order(:code_postal).map{|s| ["#{s.code_postal} - #{s.nom}",s.id]}]
    end
    f.actions do
      f.action :submit, label: t('active_admin.devise.login.submit'), button_html: { value: t('active_admin.devise.sign_up.submit') }
    end
  end
  %>

  <%= render partial: "active_admin/devise/shared/links" %>
</div>
