<div class="container">
  <div class="fr-mb-3w">
    <%= link_to "← Retour à l'index des composants", "/admin/ui_kit", class: "fr-link" %>
  </div>

  <h1>Démo BadgeComponent</h1>

  <h2>Avec icône</h2>

  <div class="fr-mb-3w">Taille par defaut (md):
    <%= render BadgeComponent.new(
      contenu: "Nouveau",
      class_couleur: "fr-badge--success",
      display_icon: true
    ) %>
  </div>

  <div class="fr-mb-2w">Taille sm:
    <%= render BadgeComponent.new(
      contenu: "Nouveau",
      class_couleur: "fr-badge--success",
      display_icon: true,
      taille: "sm"
    ) %>
  </div>

  <h2>Sans icône</h2>

  <div class="fr-mb-3w">Taille par defaut (md):
    <%= render BadgeComponent.new(
      contenu: "Terminé",
      class_couleur: "fr-badge--info",
      display_icon: false
    ) %>
  </div>

  <div class="fr-mb-3w">Taille sm:
    <%= render BadgeComponent.new(
      contenu: "Terminé",
      class_couleur: "fr-badge--info",
      display_icon: false,
      taille: "sm"
    ) %>
  </div>

  <h2>Différents types</h2>
  <div class="fr-mb-2w">
    <%= render BadgeComponent.new(contenu: "Succès", class_couleur: "fr-badge--success", display_icon: true) %>
  </div>
  <div class="fr-mb-2w">
    <%= render BadgeComponent.new(contenu: "Erreur", class_couleur: "fr-badge--error", display_icon: true) %>
  </div>
  <div class="fr-mb-2w">
    <%= render BadgeComponent.new(contenu: "Info", class_couleur: "fr-badge--info", display_icon: true) %>
  </div>
  <div class="fr-mb-2w">
    <%= render BadgeComponent.new(contenu: "Warning", class_couleur: "fr-badge--warning", display_icon: true) %>
  </div>
</div> 
