<%# frozen_string_literal: true %>
<div class="container">
  <div class="fr-mb-3w">
    <%= link_to "← Retour à l'index des composants", "/admin/ui_kit", class: "fr-link" %>
  </div>

  <h1>Démo BoutonComponent</h1>

  <h2>Bouton primaire</h2>
  <%= render BoutonComponent.new("#", type: :primary) do %>
    Bouton Primaire
  <% end %>

  <h2>Bouton secondaire</h2>
  <%= render BoutonComponent.new("#", type: :secondary) do %>
    Bouton Secondaire
  <% end %>

  <h2>Bouton désactivé</h2>
  <%= render BoutonComponent.new("#", type: :desactive) do %>
    Bouton Désactivé
  <% end %>


  <h2>Avec paramètres supplémentaires</h2>
  <%= render BoutonComponent.new(
        "#",
        type: :primary,
        id: "mon-bouton",
        data: { test: "value" }
      ) do %>
    Bouton avec ID
  <% end %>
</div> 
