<div class="container">
  <div class="fr-mb-3w">
    <%= link_to "← Retour à l'index des composants", "/admin/ui_kit", class: "fr-link" %>
  </div>

  <h1>Démo BoutonComponent</h1>

  <h2>Bouton primaire</h2>
  <%= render BoutonComponent.new("#", type: :primary) do %>
    Bouton Primaire
  <% end %>

  <h2>Bouton secondaire</h2>
  <%= render BoutonComponent.new("#", type: :secondary) do %>
    Bouton Secondaire
  <% end %>

  <h2>Bouton désactivé</h2>
  <%= render BoutonComponent.new("#", type: :desactive) do %>
    Bouton Désactivé
  <% end %>

  <h2>Petit Bouton (sm)</h2>
  <%= render BoutonComponent.new("#", type: :primary, size: :sm) do %>
    Petit Bouton
  <% end %>

  <h2>Très petit Bouton (xs)</h2>
  <%= render BoutonComponent.new("#", type: :primary, size: :xs) do %>
    Très petit Bouton
  <% end %>

  <h2>Avec paramètres supplémentaires</h2>
  <%= render BoutonComponent.new(
        "#",
        type: :primary,
        id: "mon-bouton",
        data: { test: "value" }
      ) do %>
    Bouton avec ID
  <% end %>

  <h2>Bouton primaire avec icone</h2>
  <%= render BoutonComponent.new("#", type: :primary) do %>
    <span class="fr-icon fr-icon--sm fr-icon-arrow-go-back-line" aria-label="Icône de bouton de retour arrière"></span>
    Bouton Primaire
  <% end %>
</div> 

