<%# frozen_string_literal: true %>
<div class="container">
  <div class="fr-mb-3w">
    <%= link_to "← Retour à l'index des composants", "/admin/ui_kit", class: "fr-link" %>
  </div>

  <h1>Démo EllipseComponent</h1>

  <h2>Ellipse avec différents statuts</h2>
  <div class="fr-mb-2w">
    <%= render EllipseComponent.new("active") %>
  </div>
  <div class="fr-mb-2w">
    <%= render EllipseComponent.new("desactive") %>
  </div>
  <div class="fr-mb-2w">
    <%= render EllipseComponent.new("succes") %>
  </div>
  <div class="fr-mb-2w">
    <%= render EllipseComponent.new("alerte") %>
  </div>
</div> 
