<div class="container">
  <div class="fr-mb-3w">
    <%= link_to "← Retour à l'index des composants", "/admin/ui_kit", class: "fr-link" %>
  </div>

  <h1>Démo TagComponent</h1>

  <h2>Tag simple</h2>
  <%= render Tag.new("Important") %>

  <h2>Tag supprimable</h2>
  <%= render Tag.new("À supprimer", supprimable: true, url: "#") %>

  <h2>Tag avec classes personnalisées</h2>
  <%= render Tag.new(
        "Personnalisé",
      ) %>

  <h2>Tag avec lien</h2>
  <%= render Tag.new(
        "Cliquable",
        url: "#"
      ) %>

  <h2>Différents types de tags</h2>
  <div class="fr-mb-2w">
    <%= render Tag.new("Assistance", classes: "tag-categorie assistance") %>
  </div>
  <div class="fr-mb-2w">
    <%= render Tag.new("Blog", classes: "tag-categorie blog") %>
  </div>
  <div class="fr-mb-2w">
    <%= render Tag.new("Evolution", classes: "tag-categorie evolution") %>
  </div>
  <div class="fr-mb-2w">
    <%= render Tag.new("Oui", classes: "tag-categorie yes") %>
  </div>
</div> 
