<div class="evaluation-sidebar__container">
  <%= render "admin/opcos/bloc_opco_partenaire", opco: evaluation.diagnostic_pro&.opco_financeur %>

  <div class="evaluation-sidebar__bloc">
    <div class="evaluation-sidebar__bloc-evaluation__details">
      <h3><%= t("admin.evaluations_evapro.sidebar.details.par") %></h3>
      <p><%= evaluation.beneficiaire.nom %></p>
    </div>
    <div class="evaluation-sidebar__bloc-evaluation__details">
      <h3><%= t("admin.evaluations_evapro.sidebar.details.date") %></h3>
      <p><%= I18n.l(evaluation.debutee_le, format: :avec_heure_mois_complet) %></p>
    </div>
    <div class="evaluation-sidebar__bloc-evaluation__details">
      <h3><%= t("admin.evaluations_evapro.sidebar.details.questionnaire") %></h3>
      <p><%= parcours_type_libelle(evaluation.campagne) %></p>
    </div>
  </div>
</div>
