<% id_modal = "fr-modal-confirmation-creation-structure" %>

<%= dsfr_modal(
  title: t(".titre"),
  html_attributes: { id: id_modal, class: "evapro_admin" }
) do |component| %>
  <div>
    <%= md t(".message") %>
  </div>
  
  <% component.with_button do %>
    <%= render BoutonDsfrComponent.new(
      t(".creer_structure"),
      type: :primary,
      tag: :submit,
      id: "confirmer-creation-structure",
      form: "form-creation-structure",
      class: "disabled",
      disabled: true
    ) do %>
      <%= t(".creer_structure") %>
    <% end %>
  <% end %>
  <% component.with_button do %>
    <%= render BoutonDsfrComponent.new(
      "#",
      type: :secondary,
      tag: :button,
      "aria-controls": id_modal
    ) do %>
      <%= t(".annuler") %>
    <% end %>
  <% end %>
<% end %>

