<% content_for :titre do %>
  <%= t('.titre') -%>
<% end %>
<% content_for :classes_conteneur do 'conteneur-elargi conteneur-invisible' end %>

<%= semantic_form_for @campagne, url: nouvelle_structure_path do |campagne| %>
  <%= campagne.semantic_errors *campagne.object.errors.messages.keys %>
  <%= campagne.semantic_fields_for :compte do |compte| %>
    <%= compte.semantic_fields_for :structure do |structure| %>
      <%= compte.inputs class: 'panel' do %>
        <h3><%= t('.compte.titre') %></h3>
        <%= compte.input :prenom %>
        <%= compte.input :nom %>
        <%= compte.input :telephone %>
        <%= compte.input :email %>
        <%= compte.input :password %>
        <%= compte.input :password_confirmation, required:true, wrapper_html: { class: 'libelle-long' } %>
      <% end %>
      <%= structure.inputs class: 'panel' do %>
        <h3 class="avec-description"><%= t('.structure.titre') %></h3>
        <p class="description"><%= t('.structure.description') %></p>
        <%= structure.input :nom %>
        <%= structure.input :code_postal %>
      <% end %>
      <%= campagne.inputs class: 'panel' do %>
        <h3 class="avec-description"><%= t('.campagne.titre') %></h3>
        <p class="description"><%= t('.campagne.description').html_safe %></p>
        <%= campagne.input :libelle %>
        <%= campagne.input :code %>
      <% end %>
    <% end %>
  <% end %>
  <%= campagne.actions class: 'panel' do %>
    <%= md t('.actions.validation') %>
    <%= campagne.action :submit, label: t('.creer_structure')%>
  <% end %>
<% end %>
