<% content_for :title, t(".titre") %>
<% content_for :titre do %>
  <%= t(".titre") -%>
<% end %>
<% content_for :sous_titre do %>
  <%= t(".sous_titre") -%>
<% end %>
<% content_for :classes_conteneur do "conteneur-elargi conteneur-invisible" end %>

<div class="page-recherche-structure">
  <%= form_with url: inscription_recherche_structure_path, method: :patch, local: true do |f| %>
    <%= render CarteV2Component.new(titre: t(".titre_carte")) do %>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
          <%= render InputComponent.new(
            id: "siret",
            label: t(".label_siret"),
            hint: t(".hint_siret"),
            form: f,
            method: :siret,
            type: "text",
            value: @siret,
            pattern: "[0-9\\s]{14,20}",
            placeholder: "12345678901234",
            required: true,
            autocomplete: "off",
            link_text: t(".lien_annuaire"),
            link_url: "https://annuaire-entreprises.data.gouv.fr/?mtm_campaign=proconnect",
            link_html: { target: "_blank", rel: "noopener noreferrer" }
          ) %>
        </div>
        <div class="fr-col-12">
          <div class="recherche-structure-actions">
            <%= render BoutonComponent.new(
              inscription_informations_compte_path,
              type: :tertiary,
              size: :md,
              tag: :a
            ) do %>
              <%= t(".bouton_retour") %>
            <% end %>
            <%= f.submit t(".bouton_valider"), class: "bouton grand-bouton recherche-structure-submit disabled", id: "recherche-structure-submit", disabled: true %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
