<% content_for :title, t(".titre") %>
<% content_for :titre do %>
  <%= t(".titre") -%>
<% end %>
<% content_for :sous_titre do %>
  <%= t(".sous_titre") -%>
<% end %>
<% content_for :classes_conteneur do "conteneur-elargi conteneur-invisible" end %>

<div class="page-recherche-structure">
  <%= render TexteIntroComponent.new(titre: t(".titre_intro"), texte: t(".sous_titre_intro")) %>
  <%= form_with model: @compte, url: inscription_recherche_structure_path, method: :patch, local: true do |f| %>
    <%= render CarteV2Component.new(titre: t(".titre_carte")) do %>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
          <%= render SiretInputComponent.new(
            id: "siret",
            label: t(".label_siret"),
            hint: t(".hint_siret"),
            form: f,
            method: :siret_pro_connect,
            link_text: t(".lien_annuaire"),
            input_html: { id: "siret" }
          ) %>
        </div>
        <div class="fr-col-12">
          <%= tag.p(class: "recherche-structure__mention") do %>
            <%= t(".mention_support_texte") %>
            <%= link_to t(".mention_support_email"), "mailto:#{t('.mention_support_email')}", class: "recherche-structure__mention-email" %>
          <% end %>
        </div>
        <div class="fr-col-12">
          <div class="recherche-structure-actions">
            <%= render BoutonDsfrComponent.new(inscription_informations_compte_path, type: :tertiary) do %>
              <%= t(".bouton_retour") %>
            <% end %>
            <%= render BoutonDsfrComponent.new(
              t(".bouton_valider"),
              type: :primary,
              tag: :submit,
              id: "recherche-structure-submit",
              class: "recherche-structure-submit disabled",
              disabled: true
            ) do %>
              <%= t(".bouton_valider") %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
