
<%= dsfr_modal(title: "<span class='fr-icon-arrow-right-line' aria-hidden='true'></span> Demande d'accès".html_safe, html_attributes: { id: "fr-modal-#{compte.id}" }) do %>
  <%= form_with url: verifier_admin_compte_path(compte), method: :patch, local: true do |f| %>
    <div class="modal-role-utilisateur">
      <p><strong><%= compte.display_name %></strong> a demandé un accès à la structure <%= current_compte.structure.nom %></p>

      <div class="fr-select-group fr-mb-4">
        <fieldset class="fr-fieldset" id="role-selection" aria-labelledby="role-selection-legend">
          <legend class="fr-fieldset__legend fr-fieldset__legend--regular" id="role-selection-legend">
            Choisissez un rôle :
          </legend>

          <% collection_roles_pour_verification.each do |role| %>
            <div class="fr-fieldset__element">
              <div class="fr-radio-group fr-radio-group--sm">
                <%= f.radio_button :role, role, id: role %>
                <%= f.label :role, Compte.human_enum_name(:role, role), class: "fr-label", for: role %>
              </div>
            </div>
          <% end %>

          <div class="fr-messages-group" id="role-selection-messages" aria-live="assertive"></div>
        </fieldset>
      </div>

      <div class="fr-modal__footer">
        <button type="submit" name="decision" value="Refuser" class="fr-btn bouton-secondaire">
          Refuser
        </button>
        <button type="submit" name="decision" value="Autoriser" class="fr-btn " id="valider-modal-verification">
          Autoriser
        </button>
      </div>
    </div>
  <% end %>
<% end %>
