<%# frozen_string_literal: true %>
<!doctype html>
<html>
  <head>
    <title>Restitution eva</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "print.pdf", media: "all" -%>
    <%= javascript_include_tag "/dsfr/dsfr.nomodule.min.js" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

