<!doctype html>
<html>
  <head>
    <title>Restitution eva</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "admin/pages/restitution_globale/restitution_globale_pdf" -%>
    <%= stylesheet_link_tag 'dsfr', media: 'all' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

