<% content_for :classes_body, " page_inscription_v2" %>
<% content_for :classes_conteneur, " inscription_v2" %>
<% content_for :hide_footer, true %>
  <%= render HeaderComponent.new(
    logo: "logo-anlci.svg",
    logo_alt: "ANLCI",
    logo_url: "/",
    titre: "eva.anlci.gouv.fr",
    tagline: "Un service public numérique de l’ANLCI"
  ) %>
<% content_for :content_block do %> 
  <div class="inscription_v2__sidebar">
    <%= image_tag "eva-logo-bleu.svg", alt: "Eva", class: "inscription_v2__sidebar-logo" %>
  </div>
  <div class="inscription_v2__content">
    <div class="inscription_v2__content__inner">
      <%= render partial: "layouts/flash" %>
      <div id="active_admin_content">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: "layouts/active_admin_logged_out_structure" %>
