<%# frozen_string_literal: true %>
<!DOCTYPE html>
<html lang="<%=I18n.locale%>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <style>
      .corp-message {
        font-family: 'Work Sans', sans-serif;
        color: #3A3A3A;
        font-weight: 400;
        width: 100%;
        max-width: 600px;
        margin: auto;
      }
      h1, h2, h3, h4, h5 {
        font-family: 'Quicksand', sans-serif;
        color: #161616;
      }
      a, a:visited, .lien {
        color: #000091 !important;
      }
      .text-center {
        text-align: center;
      }
      .bouton, .bouton:visited {
        display: inline-block;
        background: #000091;
        color: white !important;
        text-decoration: none;
        border-radius: 2.875rem;
        font-size: 14px;
        line-height: 16px;
        padding: .5rem .875rem;
      }
    </style>
  </head>

  <body class='corp-message'>
    <%= yield %>
    <%= md t(".signature") %>
    <img src="<%= ENV["PROTOCOLE_SERVEUR"] %>://<%= ENV["HOTE_SERVEUR"] %>/images/signature.png" alt="<%= t(".description_image", url: ENV["HOTE_SERVEUR"]) %>" />
    <div style="text-align: center; color: #929292;">
      <%= md t(".ps") %>
    </div>
  </body>
</html>
