
<% content_for :title, t(".titre") %>
<% content_for :titre do %>
  <%= t(".titre") -%>
<% end %>
<% content_for :sous_titre do %>
  <%= t(".sous_titre") -%>
<% end %>
<% content_for :classes_conteneur do "conteneur-elargi conteneur-invisible" end %>

<div class="page-informations-compte">
  <%= render CarteV2Component.new(titre: t(".titre_carte")) do %>
    <%= semantic_form_for @compte, url: inscription_informations_compte_path do |compte| %>
      <%= compte.semantic_errors *champs_non_affiches(compte.object.errors.messages.keys, [ :prenom, :nom, :email, :fonction, :service_departement ]) %>
      
      <%= compte.inputs do %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-lg-6">
            <%= render InputComponent.new(
              id: "compte_nom",
              label: t("activerecord.attributes.compte.nom"),
              form: compte,
              method: :nom,
              type: "text",
              required: true
            ) %>
          </div>
          <div class="fr-col-12 fr-col-lg-6">
            <%= render InputComponent.new(
              id: "compte_prenom",
              label: t("activerecord.attributes.compte.prenom"),
              form: compte,
              method: :prenom,
              type: "text",
              required: true
            ) %>
          </div>
          <div class="fr-col-12">
            <%= render InputComponent.new(
              id: "compte_email",
              label: t("activerecord.attributes.compte.email"),
              form: compte,
              method: :email,
              type: "email",
              required: true
            ) %>
          </div>
          <div class="fr-col-12 fr-col-lg-6">
            <%= render InputComponent.new(
              id: "compte_service_departement",
              label: t("activerecord.attributes.compte.service_departement"),
              form: compte,
              method: :service_departement,
              type: "text"
            ) %>
          </div>
          <div class="fr-col-12 fr-col-lg-6">
            <%= render InputComponent.new(
              id: "compte_fonction",
              label: t("activerecord.attributes.compte.fonction"),
              form: compte,
              method: :fonction,
              as: :select,
              collection: collection_fonctions,
              include_blank: nil
            ) %>
          </div>
          <div class="fr-col-12">
            <%= render partial: "admin/comptes/demande_acceptation_cgu_creation_compte", locals: { scope: "creation_compte" } %>
            <%= compte.input :cgu_acceptees, label: t("creation_compte.cgu_acceptees"), required: true %>
            <div class="indication-champs-obligatoires">* Champs obligatoires</div>
          </div>
          <div class="fr-col-12">
            <%= compte.action :submit, label: t(".valider"), button_html: { class: "valider-compte-bouton" }, wrapper_html: { class: "valider-compte-bouton-containeur" } %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end%>
</div>

<script>
  document.addEventListener('DOMContentLoaded', cgu_activation_submit);
</script>
