
<% content_for :title, t(".titre") %>
<% content_for :titre do %>
  <%= t(".titre") -%>
<% end %>
<% content_for :sous_titre do %>
  <%= t(".sous_titre") -%>
<% end %>
<% content_for :classes_conteneur do "conteneur-elargi conteneur-invisible" end %>

<div class="page-informations-compte">
  <%= render TexteIntroComponent.new(titre: t(".titre_intro"), texte: t(".sous_titre_intro")) %>
  <%= render CarteV2Component.new(titre: t(".titre_carte"), sous_titre: t(".sous_titre_carte")) do %>
    <%= semantic_form_for @compte, url: inscription_informations_compte_path do |compte| %>
      <%= compte.semantic_errors *champs_non_affiches(compte.object.errors.messages.keys, [ :prenom, :nom, :email, :telephone, :fonction, :service_departement ]) %>
      <%= compte.inputs do %>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12">
            <%= render InputComponent.new(
              id: "compte_nom",
              label: t(".label_nom"),
              form: compte,
              method: :nom,
              type: "text",
              required: true
            ) %>
          </div>
          <div class="fr-col-12">
            <%= render InputComponent.new(
              id: "compte_prenom",
              label: t(".label_prenom"),
              form: compte,
              method: :prenom,
              type: "text",
              required: true
            ) %>
          </div>
          <div class="fr-col-12">
            <%= render InputComponent.new(
              id: "compte_email",
              label: t(".label_email"),
              hint: t(".hint_email"),
              form: compte,
              method: :email,
              type: "email",
              required: true
            ) %>
          </div>
          <div class="fr-col-12">
            <%= render InputComponent.new(
              id: "compte_telephone",
              label: t(".label_telephone"),
              hint: t(".hint_telephone"),
              form: compte,
              method: :telephone,
              type: "tel",
              required: true
            ) %>
          </div>
          
          <div class="fr-col-12">
            <%= render InputComponent.new(
              id: "compte_service_departement",
              label: t(".label_service_departement"),
              hint: t(".hint_service_departement"),
              form: compte,
              method: :service_departement,
              type: "text"
            ) %>
          </div>
          <div class="fr-col-12">
            <%= render InputComponent.new(
              id: "compte_fonction",
              label: t(".label_fonction"),
              form: compte,
              method: :fonction,
              as: :select,
              collection: collection_fonctions,
              include_blank: nil
            ) %>
          </div>
          <div class="fr-col-12">
            <% cgu_lien = capture { render LienComponent.new("conditions générales d'utilisation d'eva", cgu_path, externe: true) } %>
            <%= compte.input :cgu_acceptees, label: raw("J'accepte les&nbsp;" + cgu_lien), required: true %>
          </div>
          <div class="fr-col-12">
            <div class="informations-compte-actions">
              <%= render LienComponent.new(t(".quitter"), pro_connect_logout_path, class: "bouton-tertiaire grand-bouton informations-compte-quitter") %>
              <%= submit_tag t(".continuer"), class: "bouton grand-bouton valider-compte-bouton disabled", disabled: true %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end%>
</div>

<script>
  document.addEventListener('DOMContentLoaded', cgu_activation_submit);
</script>
